.input-group {
    > .input-group-btn {
        &:last-child {
            > .btn {
                z-index: 2;
                margin-left: -1px;
            }
            > .btn-group {
                z-index: 2;
                margin-left: -1px;
            }

        }
    }
}
