a.show-more-info {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

a.show-more-info[title]:hover:after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
    background: black;
    color: white;
}
