<div class="card card-nobox" ng-controller="EmailTemplateFormController">
    <form class="form-validate" validate-form="" role="form"
          ng-submit="saveFn()" novalidate="" ng-show="!page_loading">
        <div class="card-heading bd-b-1x relo-bd-gray">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-title">
                        {{ isClone ? 'Clone email template #' + object.id : (isEdit ? 'EDIT_EMAIL_TEMPLATE_TEXT' | translate + ' #' +
                            object.id : 'CREATE_EMAIL_TEMPLATE_TEXT' |translate) }}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <back-button-state ui-sref="app.email-template.list"></back-button-state>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group">
                <input-text ng-model="object.name"
                            label="NAME_TEXT"
                            placeholder="ENTER_NAME_TEXT"
                            ng-required="true"
                            is-label="true"
                            is-upper-case="true"></input-text>
            </div>

            <div class="form-group">
                <input-text-area
                        placeholder="ENTER_COMMENT_TEXT"
                        is-text="true"
                        rows="5"
                        label="DESCRIPTION_TEXT"
                        show-label="true"
                        ng-model="object.description">
                </input-text-area>
            </div>
            <h4>{{'MAIL_TRANSLATIONS_TEXT' | translate}}</h4>
            <uib-tabset class="uib-tabset-custom">
                <uib-tab ng-repeat="(key, language) in languages">
                    <uib-tab-heading>
                        <em class="fa fa-language mr-sm"></em>{{'TEMPLATE_IN_TEXT' | translate}} <b>{{ language }}</b>
                    </uib-tab-heading>

                    <div>
                        <input-text is-editable="true"
                                    ng-model="object.items[key].subject"
                                    label="SUBJECT_TEXT"
                                    show-label="true"
                                    placeholder="ENTER_SUBJECT_TEXT">
                        </input-text>
                    </div>

                    <div class="mda-form-group">
                        <label class="text-gray">{{'TEXT_TEXT' | translate}}</label>
                        <app-wysiwyg ng-model="object.items[key].text" mention="false"></app-wysiwyg>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 text-right">

                    <delete-button-click ng-click="deleteFn(object.id)"
                                         title="DELETE_BTN_TEXT" class="mr-sm"></delete-button-click>

                    <default-button-click icon-class="fa fa-clone" title="CLONE_BTN_TEXT"
                                          ui-sref="app.email-template.clone({ id : object.id })"></default-button-click>

                    <save-button-submit title="SAVE_BTN_TEXT"></save-button-submit>

                </div>
            </div>
        </div>
    </form>
</div>
