<div class="card">
    <div class="card-heading relo-bg-bright-blue text-white">
        {{'EMAIL_TEMPLATE_TEXT'}} #{{ emailTemplate.id }} {{ emailTemplate.title }}
    </div>

    <form class="form-validate"
          validate-form=""
          role="form"
          ng-submit="saveFn()" novalidate="">

        <div class="card-body height-100vh-m115px overflow-y-enable">
            <div class="form-group">
                <input-text-area
                        placeholder="ENTER_COMMENT_TEXT"
                        is-text="true"
                        rows="5"
                        label="DESCRIPTION_TEXT"
                        show-label="true"
                        ng-model="emailTemplate.description">
                </input-text-area>
            </div>

            <h4>{{'MAIL_TRANSLATIONS_TEXT' | translate}}</h4>
            <uib-tabset class="uib-tabset-custom">
                <uib-tab ng-repeat="item in emailTemplate.items">
                    <uib-tab-heading>
                        <em class="fa fa-language mr-sm"></em>
                        <app-language-view code="item.language"></app-language-view>
                    </uib-tab-heading>

                    <div>
                        <input-text is-editable="true"
                                    is-required="true"
                                    ng-model="item.subject"
                                    label="SUBJECT_TEXT"
                                    show-label="true"
                                    required-message="ENTER_SUBJECT_TEXT">
                        </input-text>
                    </div>

                    <div class="form-group">
                        <label class="text-label">{{'TEXT_TEXT' | translate}}</label>
                        <app-wysiwyg ng-model="item.text" mention="false"></app-wysiwyg>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="card-footer text-right">
            <save-button-submit title="SAVE_BTN_TEXT"></save-button-submit>
        </div>
    </form>
</div>