<div class="card">
    <div class="card-heading relo-bg-bright-gray">
        <span class="text-dark-blue">
           {{ isClone == true ?  ('CLONE_PRODUCT_FIELD_TEXT' | translate) + (' #' + object.id) : (object.id ?  ('EDIT_PRODUCT_FIELD_TEXT' | translate) + ' #' + object.id : ('CREATE_PRODUCT_FIELD_TEXT' | translate)) }}
        </span>
    </div>
    <form class="form-validate noPadding" validate-form="true"
          id="" name="crudForm"
          role="form" ng-submit="" novalidate="">
        <div class="card-body custom-dialog-overflow height-100vh-m90px">
            <spinner-v2 type="spin" ng-show="page_loading"></spinner-v2>
            <div ng-if="!page_loading">
                <div class="row">
                    <div class="col-md-12">
                        <input-text is-editable="true"
                                    is-required="true"
                                    is-text="true"
                                    ng-model="object.name"
                                    required-message="FIELD_IS_REQUIRED_TEXT"
                                    label="NAME_TEXT"
                                    show-label="true"></input-text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input-text is-editable="true"
                                    is-required="false"
                                    is-text="true"
                                    ng-model="object.name_vn"
                                    required-message="FIELD_IS_REQUIRED_TEXT"
                                    label="FIELD_DESCRIPTION_TEXT"
                                    show-label="true"></input-text>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <input-text is-editable="true"
                                    is-required="true"
                                    is-text="true"
                                    ng-model="object.label"
                                    label="LABEL_TEXT"
                                    show-label="true"></input-text>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <app-yes-no-input ng-model="object.is_mandatory"
                                              label="IS_MANDATORY_TEXT"
                                              label-floating="false"
                                              init-value="false"></app-yes-no-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <app-product-field-types-selector ng-model="object.type"
                                            label="TYPE_TEXT"
                                            show-label="true"
                                            is-required="true"
                                            placeholder="ENTER_TYPE_TEXT"
                                            required-message="FIELD_IS_REQUIRED_TEXT"></app-product-field-types-selector>
                    </div>
                </div>
                <div class="row" ng-show="object.type == 2">
                    <div class="col-sm-12">
                        <app-attribute-types-selector ng-model="object.attribute_id"
                                            label="ATTRIBUTE_TEXT"
                                            show-label="true"
                                            is-required="object.type == 2"
                                            placeholder="ENTER_ATTRIBUTE_TEXT"
                                            required-message="ATTRIBUTE_IS_REQUIRED_TEXT"></app-attribute-types-selector>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <app-product-field-groups-selector ng-model="object.group_ids"
                                            label="PRODUCT_FIELD_GROUPS_TEXT"
                                            show-label="true"
                                            is-required="false"
                                            placeholder="SELECT_TEXT"
                                            required-message="ATTRIBUTE_IS_REQUIRED_TEXT"></app-product-field-groups-selector>
                    </div>
                </div>



            </div>
        </div>
        <div class="card-footer">
            <div class="pull-right text-right">

                <button type="submit" class="btn relo-bg-green"
                        ng-disabled="saving"
                        ng-click="crudForm.$valid && saveFn();">
                    <em class="fa-solid  mr-sm {{ saving ? 'fa-spin fa-spinner' : 'fa-floppy-disk'}}"></em>
                    {{ 'SAVE_BTN_TEXT' | translate }}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>