<div id="top-button-container">
    <button class="btn btn-oval relo-bg-bright-blue" ng-click="synchronize()">
        <em class="fa fa-cloud-upload mr-sm"></em>
        {{ 'SYNCHRONIZE_TEXT' | translate }}
    </button>
    <button class="btn btn-circle relo-bg-bright-blue"
                   type="button"
                    uib-tooltip="{{ 'ADD_NEW_TEXT' | translate }}"
                    tooltip-placement="bottom"
                    ui-sref="app.system-attribute.create">
        <em class="fas fa-plus"></em>
    </button>
</div>
