
.m-h-50 {
    min-height: 50px !important;
}

.m-h-60 {
    min-height: 60px !important;
}

.m-h-120 {
    min-height: 120px !important;
}

.m-h-175 {
    min-height: 175px !important;
}

.m-h-250 {
    min-height: 250px;
}

.m-h-300 {
    min-height: 300px;
}

.h-40 {
    height: 40px !important;
}

.h-50 {
    height: 50px !important;
}

.h-60 {
    height: 60px !important;
}

.height-70px {
    height: 70px !important;
}

.h-70 {
    height: 70px !important;
}

.width-30 {
    width: 30px;
}

.width-50 {
    width: 50px !important;
}

.width-60 {
    width: 60px !important;
    display: block;
}

.width-40 {
    width: 40px !important;
    display: block;
}

.width-70 {
    width: 70px !important;
    display: block;
}

.width-80 {
    width: 80px !important;
    display: block;
}

.width-100 {
    width: 100px !important;
    display: block;
}

.width-120 {
    width: 120px !important;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 150px;
}

.width-170 {
    width: 170px !important;
}

.width-200 {
    width: 200px !important;
    display: block;
}

.width-250 {
    width: 250px !important;
    display: block;
}

.width-300 {
    width: 300px;
}

.max-with-700 {
    max-width: 700px;
}

.max-with-600 {
    max-width: 600px;
}

.max-with-500 {
    max-width: 500px;
}

.width-500 {
    width: 500px !important;
}

.width-56vw {
    width: 56vw;
}

.height-100 {
    height: 100px !important;
}

.height-200 {
    height: 200px;
}

.height-300 {
    height: 300px;
}

.height-300px {
    height: 300px;
}

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-30vh {
    height: 30vh;
}

.height-35vh {
    height: 35vh;
}

.height-40vh {
    height: 40vh;
}

.height-50vh {
    height: 50vh;
}

.height-60vh {
    height: 60vh;
}

.height-70vh {
    height: 70vh;
}

.height-75vh {
    height: 75vh;
}

.height-78vh {
    height: 78vh;
}

.height-80vh {
    height: 80vh;
}

.height-100vh {
    height: 100vh;
}

.height-60vh-100px {
    height: calc(60vh - 100px);
}

.height-50vh-60px {
    height: calc(50vh - 60px);
}

.height-60vh-70px {
    height: calc(60vh - 70px);
}

.height-60vh-60px {
    height: calc(60vh - 60px);
}

.height-60vh-50px {
    height: calc(60vh - 50px);
}

.height-70vh-54px {
    height: calc(70vh + 54px);
}

.height-100vh-m60px {
    height: calc(100vh - 60px) !important;
}

.height-100vh-m70px {
    height: calc(100vh - 70px) !important;;
}

.height-100vh-m80px {
    height: calc(100vh - 80px) !important;;
}

.height-100vh-m90px {
    height: calc(100vh - 90px) !important;;
}

.height-100vh-m100px {
    height: calc(100vh - 100px) !important;;
}

.height-100vh-m140px {
    height: calc(100vh - 140px) !important;
}

.height-100vh-m150px {
    height: calc(100vh - 150px) !important;;
}

.height-100vh-m120px {
    height: calc(100vh - 120px) !important;;
}

.height-100vh-m200px {
    height: calc(100vh - 200px) !important;;
}

.height-100vh-m190px {
    height: calc(100vh - 190px) !important;;
}


.height-100vh-m110px {
    height: calc(100vh - 110px) !important;;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100% !important;
}

.width-100pc {
    width: 100%;
}

.height-100pc {
    height: 100% !important;
}


.min-h-100 {
    min-height: 100px;
}

.m-w-200 {
    max-width: 200px;
}

.m-h-200 {
    max-height: 200px;
}

.full-height {
    height: 100vh;
}

.full-height-container {
    height: calc(100vh - 56px);
}

.full-height-inside-container {
    height: calc(100vh - 280px);
}

.full-height-inside-container-big {
    height: calc(100vh - 120px);
}
.height-120{
    height: 120px;
}

.height-100vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(100vh - #{$i}px) !important;
        }
    }
}

.height-20vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(40vh - #{$i}px);
        }
    }
}

.height-30vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(40vh - #{$i}px);
        }
    }
}

.height-40vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(40vh - #{$i}px);
        }
    }
}

.height-50vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(50vh - #{$i}px);
        }
    }
}

.height-60vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(60vh - #{$i}px);
        }
    }
}

.height-70vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(70vh - #{$i}px);
        }
    }
}

.height-80vh {
    @for $i from 1 through 300 {
        &-m#{$i}px {
            height: calc(80vh - #{$i}px);
        }
    }
}

.height {
    @for $i from 1 through 900 {
        &-#{$i}px {
            height: #{$i}px !important;
        }
    }
}

.width {
    @for $i from 1 through 100 {
        &-#{$i}pc {
            width: ($i / 100) * 100% !important;
        }
    }
}
.max-height-120{
    height: 120px;
}

.height-100vh-m40px{
    height: calc(100vh - 40px) !important;
}

.height-150{
    height: 150px;
}

.width {
    @for $i from 1 through 1000 {
        &-#{$i}px {
            width: #{$i}px;
        }
    }

    @for $i from 1 through 100 {
        &-#{$i}vh {
            width: #{$i}vh;
        }
    }
}

.height {
    @for $i from 1 through 1000 {
        &-#{$i}px {
            height: #{$i}px;
        }
    }
}


.min-height {
    @for $i from 1 through 1000 {
        &-#{$i}px {
            min-height: #{$i}px;
        }
    }
}

.width-100per {
    @for $i from 1 through 1000 {
        &-m#{$i}px {
            width: calc(100% - #{$i}px);
        }
    }
}

.width-100vw {
    @for $i from 1 through 1000 {
        &-m#{$i}px {
            width: calc(100vw - #{$i}px);
        }
    }
}


.height-100vh {
    @for $i from 1 through 1000 {
        &-m#{$i}px {
            height: calc(100vh - #{$i}px) !important;
        }
    }

}

.margin {
    @for $i from 1 through 100 {
        &-#{$i}px {
            margin: #{$i}px !important;
        }
    }
}

.height-auto{
    height: auto !important;
}
.width-auto{
    width: auto !important;
}


.max-height {
    @for $i from 1 through 100 {
        &-#{$i}per {
            max-height: percentage($i / 100);
        }
    }
}

.max-width {
    @for $i from 1 through 100 {
        &-#{$i}per {
            max-width: percentage($i / 100);
        }
    }

    @for $i from 1 through 100 {
        &-#{$i}vh {
            max-width: #{$i}vh
        }
    }
}

.width-fit-content{
    width: fit-content;
    width: -moz-fit-content;
}
.height-fit-content {
    height: fit-content;
}

.height-inherit{
    height: inherit;
}
.width-max-content{
    width: max-content;
    width: -moz-max-content;
}
