<div class="row">
    <div class="col-md-12 hidden-xs hidden-sm hidden-md text-center">
        <ul uib-pagination total-items="totalItems"
            ng-model="currentPage"
            items-per-page="itemsPerPage"
            max-size="6" class="pagination"
            boundary-links="true" boundary-link-numbers="true"
            previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false"
            ng-change="setPage(currentPage)"></ul>
    </div>

    <div class="col-sm-12 col-xs-12 hidden-lg hidden-xl text-center">
        <div class="mt text-muted">Total : {{totalItems}} Items</div>
    </div>
</div>
