<div class="" ng-controller="ConstantListApiController">
    <div ng-include="'/app/views/constant/buttons.html'"></div>
    <div class="min-height-70px">
        <project-filter
            columns="column_array"
            is-sort="false"
            is-filter="false"
            module-name="module_name"></project-filter>
    </div>

    <div class="scroll-append scroll-y height-100vh-m140px overflow-x-disable" when-scrolled="loadMore()">
        <div>
            <spinner-v2 type="spin" ng-show="isInitialLoading"></spinner-v2>

            <angular-table table="table"
                           items="items"
                           ng-if="!isInitialLoading && items.length > 0"
                           search-input-enable="false">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-dark-blue"></th>
                        <th class="text-dark-blue">{{'NAME_TEXT' | translate }}</th>
                        <th class="text-dark-blue">{{'VALUE_TEXT' | translate }}</th>
                        <th class="text-dark-blue">{{'VALUE_EN_TEXT' | translate }}</th>
                        <th class="text-dark-blue">{{'VALUE_VI_TEXT' | translate }}</th>
                        <th class="text-dark-blue"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index, object) in table.pagedItems[table.currentPage]">
                        <td>{{ object.id }}</td>
                    <td ng-style="{'width':'300px'}">
                        <div ng-click="editConstantFn( object )"
                             class="wrap-word text-bright-blue">{{ object.name }}
                        </div>
                    </td>
                    <td>{{ object.value }}</td>
                    <td>{{ object.value_en }}</td>
                    <td>{{ object.value_vi }}</td>
                    <td class="text-right">
                        <button-edit-icon ng-click="editConstantFn( object )" class="mr-sm"></button-edit-icon>
                        <button-clone-icon ng-click="cloneConstantFn( object )" class="mr-sm"></button-clone-icon>
                        <button-delete-icon ng-click="deleteFn( object )"></button-delete-icon>
                    </td>
                    </tr>

                    </tbody>
                </table>
            </angular-table>
            <div class="row" ng-if="loadingMore">
                <div class="col-lg-12">
                    <spinner-v2 type="spin" ></spinner-v2>
                </div>
            </div>
        </div>

    </div>
</div>
