<div class="card card-nobox" ng-controller="CrmUserFormController">
    <form class="form-validate"
      validate-form=""
      role="form"
      name="userForm"
      data-parsley-validate=""
      ng-submit="saveFn()"
      ng-if="!page_loading"
      novalidate>
      <div class="panel panel-primary white-block height-80vh scroll-y">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <app-roles-selector ng-model="user.user_group_id"
                                        label="ROLE_TEXT"
                                        show-label="true"
                                        is-editable="true"
                                        is-required="true"
                                        required-message="ENTER_ROLE_TEXT"
                                        tool-tip-text="{{ 'TOOLTIP_ROLE_TEXT' | translate }}"></app-roles-selector>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user.firstname"
                                required-message="ENTER_FIRST_NAME_TEXT"
                                label="FIRST_NAME_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user.lastname"
                                required-message="ENTER_LAST_NAME_TEXT"
                                label="LAST_NAME_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="!(user.id > 0)"
                                is-email="true"
                                is-required="true"
                                ng-model="user.email"
                                required-message="ENTER_EMAIL_TEXT"
                                label="EMAIL_TEXT"
                                show-label="true"></input-text>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-telephone="true"
                                is-required="true"
                                ng-model="user.phone"
                                required-message="ENTER_PHONE_TEXT"
                                label="PHONE_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
        </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" ng-if="user.id" class="btn relo-bg-red mr-lg" ng-click="deleteFn(user.id)"
                            title="Delete">
                        <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>
                        {{'DELETE_BTN_TEXT' | translate}}
                    </button>
                    <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving"><i
                            class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                        {{'SAVE_BTN_TEXT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
