.assignment-relocation-relocation-detail {
    .services {
        .service {
            border: 1px solid $relo-gray;
            padding: 8px 14px;
            margin-top: -1px;
            font-size: 14px;
            color: $relo-dark-gray;
            height: 60px;
            overflow: initial;
        }
    }
}
