.pdf-viewer-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.pdf-viewer-button .buttons {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

.pdf-viewer-button button {
    font-size: 18px;
    color: #ffffff;
    border-radius: 0;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
