<div class="pdf-viewer-button">
    <div class="buttons">
        <button type="button" class="btn btn-link" ng-click="goPrevious()"> <em class="fa fa-chevron-left"></em>  </button>
        <button type="button" class="btn btn-link" ng-click="zoomOut()"><em class="fa fa-minus"></em></button>
        <button type="button" class="btn btn-link" ng-click="fit()"><em class="fa fa-search-minus"></em></button>
        <button type="button" class="btn btn-link" ng-click="zoomIn()"><em class="fa fa-plus"></em></button>
        <button type="button" class="btn btn-link" ng-click="goNext()"> <em class="fa fa-chevron-right"></em> </button>
    </div>
</div>
<canvas id="pdf-canvas"></canvas>
