<form class="form-validate pd-0 mg-0"
      validate-form=""
      ng-submit="saveFn()"
      ng-if="!isLoading"
      novalidate>
    <div class="custom-dialog-overflow scroll-append scroll-y overflow-x-disable pd-l-20">
        <div class="row">
            <div class="col-sm-12">
                <input-text is-editable="isEditable"
                            is-text="true"
                            is-required="true"
                            ng-model="classroom.name"
                            required-message="FIELD_IS_REQUIRED_TEXT"
                            label="NAME_TEXT"
                            placeholder="ENTER_NAME_TEXT"
                            show-label="true"></input-text>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-grade-selector ng-model="classroom.grade" show-label="true" is-required="true"
                    label="GRADE_TEXT"></app-grade-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-teacher-selector ng-model="classroom.teacher_id" show-label="true" is-required="true"
                    label="TEACHER_TEXT"></app-teacher-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-schedule-selector ng-model="classroom.schedules" show-label="true" is-required="true"
                    label="SCHEDULE_TEXT"></app-schedule-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-students-selector ng-model="classroom.student_ids"
                                            is-editable="isEditable"
                                            label="STUDENTS_TEXT"
                                            show-label="true"
                                            is-required="false"
                                            placeholder="SELECT_TEXT"
                                            required-message="ATTRIBUTE_IS_REQUIRED_TEXT"></app-students-selector>
            </div>
        </div>
    </div>

    <div class="text-right mg-t-20">
        <save-button-submit title="SAVE_BTN_TEXT" ng-disabled="saving" ng-if="isEditable"></save-button-submit>
    </div>
</form>
