.ngdialog {
    &.ngdialog-theme-full-screen {
        .ngdialog-content {
            background: none !important;
            width: 100% !important;
            height: 100%;
            padding-top: 0px;


            .card {
                border-radius: 0px;

                .card-heading {
                    border-radius: 0px !important;

                    &.card-white {
                        border-bottom: 1px solid $relo-bright-gray;

                        > h4 {
                            font-weight: 400;
                        }
                    }
                }

                .card-body {
                    height: calc(100vh - 115px);
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }

            .ngdialog-close {
                margin-top: 10px;
                margin-right: 10px;
                position: absolute;
                top: 0px;
                right: 0px;
                background: transparent;
                color: $relo-dark-blue !important;
                border: none;
                font-size: 36px;

                &:before {
                    font-size: 36px;
                    padding: 0px;
                    line-height: 20px;
                }
            }
        }
    }
}
