<div class="card" ng-controller="UserGroupFormController">
    <div class="card-heading relo-bg-bright-gray ">
        <span class="text-dark-blue">{{(user_group.id > 0 ? 'EDIT_USER_GROUP_TEXT' : 'CREATE_USER_GROUP_TEXT') | translate}}</span>
    </div>
    <form class="form-validate noPadding"
      validate-form=""
      role="form"
      name="userForm"
      data-parsley-validate=""
      ng-submit="saveFn()"
      ng-if="!page_loading"
      novalidate>

        <div class="pd-2x custom-dialog-overflow ngdialog-content-body">
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user_group.name"
                                required-message="ENTER_NAME_TEXT"
                                label="NAME_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user_group.label"
                                required-message="ENTER_LABEL_TEXT"
                                label="LABEL_TEXT"
                                show-label="true"></input-text>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-text="true"
                                is-required="false"
                                ng-model="user_group.description"
                                required-message="ENTER_DESCRIPTION_TEXT"
                                label="DESCRIPTION_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>



        </div>


        <div class="card-footer text-right border-0">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" ng-if="user_group.id" class="btn relo-bg-red mr-lg" ng-click="deleteFn(user_group.id)"
                            title="Delete">
                        <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>
                        {{'DELETE_BTN_TEXT' | translate}}
                    </button>
                    <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving"><i
                            class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                        {{'SAVE_BTN_TEXT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
