.roles_list {
    .switch {
        input:disabled + span {
            background-color: rgba(0, 0, 0, 0.2);
        }
        input:checked + span {
            background-color: #0098ff;
        }
    }
}


.role-tree {
    &::before {
        top: 0;
        bottom: 50px;
        border-left: 1px solid #999;
        width: 1px;
        height: 100%;
    }
    padding-top: 5px;
    padding-bottom: 5px;
}
