<div class="project-filter">
    <div class="pd-1x relo-bg-dark-blue-5 bd-radius-5x">
        <div class="row mx-0">
            <div class="col-sm-7 text-left pd-l-0 pd-r-5">
                <div class="task-filter mr-sm"
                     uib-tooltip="{{'CATEGORIES_TEXT' | translate}}">
                    <app-product-categories-filter
                            model="search.selected_categories"
                            is-icon="true"
                            float="true" inline-list="true" name="CATEGORIES_TEXT"></app-product-categories-filter>
                </div>
            </div>
            <div class="col-sm-5 text-right pd-r-0">
                <button ng-click="clearFilter()"
                        uib-tooltip="{{'CLEAR_ALL_FILTERS_BTN_TEXT' | translate}}"
                        class="btn pointer btn-round pull-right filter-dark-blue" style="margin-top:3px;">
                    <i class="fa-solid fa-eraser txt-16"></i>
                </button>
                <div class="btn-group dropdown open pull-right mr-sm "
                     uib-dropdown=""
                     style="vertical-align: unset; margin-top: 3px">
                    <button type="button" class="btn btn-round dropdown-toggle"
                            uib-dropdown-toggle=""
                            aria-haspopup="true" aria-expanded="true">
                        <i class="fa-solid fa-arrow-down-wide-short txt-16" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu="" role="menu"
                        aria-labelledby="split-button">
                        <li role="menuitem" ng-repeat="column in columns">
                            <a ng-click="sortByColumnAndOrder(column.name, column.descending)">
                                {{column.label | translate}} {{ column.sortText | translate}}</a></li>
                    </ul>
                </div>
                <div class="project-filter-select pull-right mr-sm">
                    <div class="input-group search">
                        <input
                                class="form-control form-control-custom-radius filter-search ng-valid filter-search-timelog"
                                placeholder="{{('SEARCH_TEXT') | translate}}"
                                ng-model="search.query"
                                ng-keypress="($event.which === 13) ? reloadInit():0"/>
                        <span class="input-group-btn">
                            <button type="button" ng-click="reloadInit()" class="btn btn-default btn-flat"
                                    style="">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>