<div class="filter-item-container">
    <div class="filter-title"
         ng-click="openSearchDialog($event)">
        <!--        <span class="txt-12">-->
        <!--            {{'STATUSES_TEXT' | translate}}-->
        <!--        </span>-->

        <i class="fa-solid fa-bars-progress"></i>

        <span class="badge relo-bg-bright-blue ml-sm mg-t-minus-1">{{ model.length ? model.length : 0 }}</span>

        <div class="close">
            <em class="fa fa-angle-down ml-sm"></em>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

