<div class="" ng-controller="OrderEditController">
    <div class="mt-sm">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default-b white-block pd-b-0">
                    <div class="panel-body">
                        <h4 class="text-dark-blue text-center">
                            {{ order.number }}
                        </h4>
                    </div>
                    <div class="list-group mt">
                        <a class="list-group-item"
                           ng-class="{'active': (currentTab == 'basic')}"
                           ng-click="settingActive = 0">{{ 'BASIC_INFO_TEXT' | translate }}</a>
<!--                        <a class="list-group-item"-->
<!--                            ng-class="{'active': (settingActive == 1)}"-->
<!--                            ng-click="settingActive = 1">{{ 'DESCRIPTION_TEXT' | translate }}</a>-->
<!--                        <a class="list-group-item"-->
<!--                            ng-class="{'active': (settingActive == 2)}"-->
<!--                            ng-click="settingActive = 2">{{ 'IMAGES_TEXT' | translate }}</a>-->
<!--                        <a class="list-group-item"-->
<!--                            ng-class="{'active': (settingActive == 3)}"-->
<!--                            ng-click="settingActive = 3">{{ 'SALE_TEXT' | translate }}</a>-->
<!--                        <a class="list-group-item"-->
<!--                            ng-class="{'active': (settingActive == 4)}"-->
<!--                            ng-click="settingActive = 4">{{ 'RENTAL_TEXT' | translate }}</a>-->

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div  ng-if="currentTab == 'basic'">
                    <uib-accordion close-others="false">
                        <!--Block Account Info-->
                        <div class="">
                            <div uib-accordion-group
                                 class="panel-relo"
                                 is-open="openDetail">
                                <uib-accordion-heading>
                                    {{'ORDER_INFORMATION_TEXT' | translate}}

                                    <i class="pull-right fa txt-20"
                                       ng-class="{'fa-angle-up': openDetail, 'fa-angle-down': !openDetail}"
                                    ></i>

<!--                                    <em class="fa-solid fa-pen-to-square mr-sm pull-right"-->
<!--                                        gms-acl-allow="assignment/edit"-->
<!--                                        acl-remove="true"-->
<!--                                        uib-tooltip="{{'EDIT_TEXT' | translate}}"-->
<!--                                        ng-if="assignment.is_editable == true"-->
<!--                                        ng-click="modifyFn($event)"-->
<!--                                        ng-show="openSummary"></em>-->

<!--                                    <em class="fa-solid fa-eye mg-r-15 pull-right"-->
<!--                                        gms-acl-allow="assignment/view"-->
<!--                                        acl-remove="true"-->
<!--                                        ng-if="showViewDialog"-->
<!--                                        uib-tooltip="{{'VIEW_BTN_TEXT' | translate}}"-->
<!--                                        ng-click="viewAssignmentDialog($event)"-->
<!--                                        ng-show="openSummary"></em>-->

                                </uib-accordion-heading>
                                <div ng-include="'/app/views/order/edit_order_information.html'"></div>
                            </div>
                        </div>
                    </uib-accordion>

                    <uib-accordion close-others="false">

                        <!--Block Account Info-->
                        <div class="">
                            <div uib-accordion-group
                                 class="panel-relo"
                                 is-open="openBuyerInformation">
                                <uib-accordion-heading>
                                    {{'BUYER_INFORMATION_TEXT' | translate}}
                                    <i class="pull-right fa txt-20"
                                       ng-class="{'fa-angle-up': openBuyerInformation, 'fa-angle-down': !openBuyerInformation}"
                                    ></i>
                                </uib-accordion-heading>
                                <div ng-include="'/app/views/order/edit_buyer_information.html'"></div>
                            </div>
                        </div>
                    </uib-accordion>

                    <uib-accordion close-others="false">

                        <!--Block Account Info-->
                        <div class="">
                            <div uib-accordion-group
                                 class="panel-relo"
                                 is-open="openProduct">
                                <uib-accordion-heading>
                                    {{'PRODUCT_TEXT' | translate}}
                                    <i class="pull-right fa txt-20"
                                       ng-class="{'fa-angle-up': openProduct, 'fa-angle-down': !openProduct}"
                                    ></i>
                                </uib-accordion-heading>
                                <div ng-include="'/app/views/order/edit_product.html'"></div>
                            </div>
                        </div>
                    </uib-accordion>


                    <div class="text-right">
                        <button type="button" class="btn relo-bg-red text-right mr-lg"
                                ng-click="setCancelled()"
                                ng-if="order.status != -1 && order.status != 3">
                            <!--                        <i class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>-->
                            {{'CANCEL_BTN_TEXT' | translate}}
                        </button>

                        <button type="button" ng-if="order.status == 1"
                                ng-click="setConfirmed()"
                                class="btn relo-bg-green text-right">
                            <!--                        <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>-->
                            {{'CONFIRM_BTN_TEXT' | translate}}
                        </button>

                        <button type="button" ng-if="order.status == 2"
                                ng-click="setCompleted()"
                                class="btn relo-bg-bright-blue text-right">
                            <!--                        <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>-->
                            {{'COMPLETE_BTN_TEXT' | translate}}
                        </button>

                    </div>

                </div>
<!--                <div ng-show="settingActive > 4">-->
<!--                    <div ng-include="'/app/views/order/edit_field_group.html'"></div>-->
<!--                </div>-->
<!--                <div ng-show="settingActive == 1">-->
<!--                    <div ng-include="'/app/views/order/edit_description.html'"></div>-->
<!--                </div>-->
<!--                <div ng-show="settingActive == 2">-->
<!--                    <div ng-include="'/app/views/order/edit_image.html'"></div>-->
<!--                </div>-->
<!--                <div ng-show="settingActive == 3">-->
<!--                    <div ng-include="'/app/views/order/edit_sale_info.html'"></div>-->
<!--                </div>-->
<!--                <div ng-show="settingActive == 4">-->
<!--                    <div ng-include="'/app/views/order/edit_rent_info.html'"></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>