<div>
    <div class="pd-t-1x">
        <div class="row">
            <div class="col-xs-3 col-lg-3 text-right">
                <label class="text-dark-blue ">{{ 'NAME_TEXT' | translate }}:</label>
            </div>
            <div class="col-xs-9 col-lg-9">
                {{order.buyer.firstname}} {{order.buyer.lastname}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-lg-3 text-right">
                <label class="text-dark-blue ">{{ 'EMAIL_TEXT' | translate }}:</label>
            </div>
            <div class="col-xs-9 col-lg-9">
                {{order.buyer.email}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-lg-3 text-right">
                <label class="text-dark-blue ">{{ 'PHONE_TEXT' | translate }}:</label>
            </div>
            <div class="col-xs-9 col-lg-9">
                {{order.buyer.phone}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-lg-3 text-right">
                <label class="text-dark-blue ">{{ 'SHIPPING_ADDRESS_TEXT' | translate }}:</label>
            </div>
            <div class="col-xs-9 col-lg-9">
                {{order.buyer.address ? order.buyer.address : 'Shipping address'}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-lg-3 text-right">
                <label class="text-dark-blue ">{{ 'BILLING_ADDRESS_TEXT' | translate }}:</label>
            </div>
            <div class="col-xs-9 col-lg-9">
                {{order.buyer.address ? order.buyer.address : 'Billing address'}}
            </div>
        </div>


    </div>
</div>
