<div ng-controller="AssignmentDashboardBasicInfoController">
    <div class="pd-t-1x"
         data-ng-init="init()">
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <label class="text-dark-blue ">{{ 'ORIGIN_TEXT' | translate }}</label>
                <div class="flex" ng-click="gotoDetailAssignmentCountryTab('origin')">
                    <div class="flex-middle mg-r-1x">
                        <country-flag
                                country-code="assignment.home_country.cio_flag" size="32"
                                circle="false"></country-flag>
                    </div>
                    <div class="flex-middle">
                        <div>{{ assignment.basic.home_city }}</div>
                        <div class="text-bold">{{ assignment.home_country.name }}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-6">
                <label class="text-dark-blue">{{ 'DESTINATION_TEXT' | translate }}</label>
                <div class="flex" ng-click="gotoDetailAssignmentCountryTab('destination')">
                    <div class="flex-middle mg-r-1x">
                        <country-flag
                                country-code="assignment.destination_country.cio_flag" is-square="true"
                                size="32" circle="false"></country-flag>
                    </div>
                    <div class="flex-middle">
                        <div>{{ assignment.destination.destination_city}}</div>
                        <div class="text-bold">{{ assignment.destination_country.name }}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt">

            <div class="col-md-6">
                <gms-office-selector
                        is-editable="false"
                        label="OFFICE_ORIGIN_TEXT"
                        ng-model="assignment.basic.departure_hr_office_id"
                        show-label="true"
                        company_id="assignment.company_id"></gms-office-selector>
            </div>

            <div class="col-md-6">
                <gms-office-selector
                        is-editable="false"
                        label="OFFICE_DESTINATION_TEXT"
                        ng-model="assignment.destination.destination_hr_office_id"
                        show-label="true"
                        company_id="assignment.company_id"></gms-office-selector>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <input-text
                        is-date="true"
                        type="date"
                        is-editable="false"
                        ng-model="assignment.estimated_start_date"
                        label="ESTIMATED_START_DATE_TEXT"
                        show-label="true"></input-text>

            </div>
            <div class="col-xs-6 col-lg-6">
                <input-text
                        is-date="true"
                        type="date"
                        is-editable="false"
                        ng-model="assignment.estimated_end_date"
                        label="ESTIMATED_END_DATE_TEXT"
                        show-label="true"></input-text>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <input-text
                        is-date="true"
                        type="date"
                        is-editable="false"
                        ng-model="assignment.effective_start_date"
                        label="EFFECTIVE_START_DATE_TEXT"
                        show-label="true"></input-text>

            </div>
            <div class="col-xs-6 col-lg-6">
                <input-text
                        is-date="true"
                        type="date"
                        is-editable="false"
                        ng-model="assignment.end_date"
                        label="EFFECTIVE_END_DATE_TEXT"
                        show-label="true"></input-text>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <gms-bookers-selector
                        ng-model="assignment.booker_company_id"
                        show-label="true"
                        is-editable="false"
                        tool-tip-text="TOOLTIP_BOOKER_TEXT"
                        label="BOOKER_TEXT"></gms-bookers-selector>
            </div>
            <div class="col-xs-6 col-lg-6">
                <input-text
                        is-text="true"
                        type="text"
                        is-editable="false"
                        ng-model="assignment.order_number"
                        label="ORDER_NUMBER_TEXT"
                        show-label="true"></input-text>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>
                        {{'BOOKER_CONTACT_TEXT'|translate}}
                    </label>
                    <div>
                        <gms-assignment-booker-contact
                                uuid="assignment.uuid"
                                booker-id="assignment.booker_company_id"
                                label="BOOKER_CONTACT_TEXT"
                                short="colapseStatus"
                                show-label="false"></gms-assignment-booker-contact>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <gms-policy-selector
                        ng-model="assignment.policy_id"
                        is-editable="false"
                        is-required="false"
                        tool-tip-text="POLICY_TOOLTIP_TEXT"
                        show-label="true"
                        label="POLICY_TEXT"></gms-policy-selector>
            </div>
        </div>
    </div>
</div>
