<div ng-controller="OrderFilter">
<!--    <div class="task-filter mr-sm"-->
<!--        uib-tooltip="{{'CATEGORIES_TEXT' | translate}}">-->
<!--        <app-product-categories-filter-->
<!--            model="selected_categories"-->
<!--            is-icon="true"-->
<!--            float="true" inline-list="true" name="CATEGORIES_TEXT"></app-product-categories-filter>-->
<!--    </div>-->
<!--    <div class="task-filter mr-sm"-->
<!--        uib-tooltip="{{'BRANDS_TEXT' | translate}}">-->
<!--        <app-brand-filter-->
<!--            model="selected_brandes"-->
<!--            is-icon="true"-->
<!--            float="true" inline-list="true" name="BRANDS_TEXT"></app-brand-filter>-->
<!--    </div>-->
<!--    <div class="task-filter mr-sm"-->
<!--        uib-tooltip="{{'YEARS_TEXT' | translate}}">-->
<!--        <app-years-filter-->
<!--            model="selected_years"-->
<!--            is-icon="true"-->
<!--            float="true" inline-list="true" name="YEARS_TEXT"></app-years-filter>-->
<!--    </div>-->
<!--    <div class="task-filter mr-sm"-->
<!--        uib-tooltip="{{'COMPANIES_TEXT' | translate}}">-->
<!--        <app-company-filter-->
<!--            model="selected_companies"-->
<!--            is-icon="true"-->
<!--            float="true" inline-list="true" name="COMPANIES_TEXT"></app-company-filter>-->
<!--    </div>-->
<!--    <div class="task-filter mr-sm"-->
<!--        uib-tooltip="{{'OPTIONS_TEXT' | translate}}">-->
<!--        <app-product-options-filter-->
<!--            model="selected_options"-->
<!--            is-icon="true"-->
<!--            float="true" inline-list="true" name="OPTIONS_TEXT"></app-product-options-filter>-->
<!--    </div>-->
</div>
