<div class="btn-group mb-sm dropdown" uib-dropdown="dropdown" style="">
    <button class="btn btn-block btn-oval btn-flat btn-sm dropdown-toggle text-white" type="button"
            ng-disabled="disabled" uib-dropdown-toggle=""
            aria-haspopup="true"
            aria-expanded="false"
            ng-class="{'relo-bg-yellow': currentStatus.color == 'yellow' || currentStatus.color == null || currentStatus.color == undefined || currentStatus.color == '', 'relo-bg-bright-blue': currentStatus.color == 'blue', 'relo-bg-orange': currentStatus.color == 'orange','relo-bg-green': currentStatus.color == 'green',
    'relo-bg-dark-blue': currentStatus.color == 'dark', 'relo-bg-gray': currentStatus.color == 'gray', 'relo-bg-red': currentStatus.color == 'red'}">
        {{ currentStatus.text != '' && currentStatus.text != undefined ? ( currentStatus.text | translate ) :
        ('SELECT_TEXT' | translate ) }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in statusList">
            <a ng-click="setStatus(status)" ng-class="{'text-yellow': status.color == 'yellow','text-bright-blue': status.color == 'blue', 'text-orange': status.color == 'orange','text-green': status.color == 'green',
    'text-dark-blue': status.color == 'dark', 'text-gray': status.color == 'gray', 'text-red': status.color == 'red'}">
                <em class="fa fa-check-circle mr-sm" ng-if="currentStatus.value == status.value"></em>
                <em class="fa fa-circle-o mr-sm" ng-if="currentStatus.value !== status.value"></em>
                {{ status.text | translate}}
            </a>
        </li>
    </ul>
</div>
