<div class="form-group" ng-class="{'mg-0': noMargin}">
    <div>
        <label class="label-text-form pull-left" ng-show="showLabel == true && label != ''">
            {{ label | translate }}
            <asterik-red ng-if="isRequired">*</asterik-red>
        </label>

        <span class="text-right text-sm pull-right"
              ng-if="showLabel == true && isEditable == true"
              ng-show="!(data.selected.id == null || data.selected.id == '' || data.selected.id == undefined) && isEditable == true">
            <a ng-click="removeItem();">
                {{'REMOVE_TEXT'|translate}}
            </a>
        </span>
        <div class="clearfix"></div>
    </div>


    <div ng-if="isEditable == true" class="user-profile-view-rectangle relo-bg-bright-blue-10">
        <div class="item"
             ng-show="data.selected.id > 0">
            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>            <span class="c">
               <a ng-click="openSearchDialog($event)" class="pd-t-3">
                    {{data.selected.name }} {{data.selected.utc}}
                </a>
            </span>
            <span class="close text-gray">
                <a ng-click="removeItem()">
                    <em class="fa fa-times"></em>
                </a>
            </span>
        </div>


        <div class="item"
             ng-show="data.selected.id == null || data.selected.id == '' || data.selected.id == undefined">
             <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>
            <span class="c pd-t-3">
               <a ng-click="openSearchDialog($event)">
                     {{'SELECT_TEXT' | translate }}
                </a>
            </span>
        </div>
    </div>

    <div class="user-profile-view" ng-if="isEditable == false">
        <div class="item">
<!--            <em class="fa fa-globe text-24 text-gray mr-sm"></em>-->

            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>

            <span class="c pd-t-3" ng-if="data.selected.id > 0">
                {{data.selected.name}} {{data.selected.utc}}
            </span>

            <span class="c pd-t-3" ng-if="!data.selected.id > 0">
                {{ 'EMPTY_TEXT' | translate }}
            </span>

        </div>
    </div>

    <input ng-show="false"
           class="input-invisible"
           ng-value="data.selected.id"
           data-parsley-validate=""
           ng-required="isRequired"
           data-parsley-required-message="{{ requiredMessage | translate }}"/>
</div>
