<div class="form-group">
    <div>
        <label class="text-dark-blue pull-left label-text-form" ng-show="showLabel == true && label != ''">
            {{ label | translate }}
            <asterik-red ng-if="isRequired">*</asterik-red>
        </label>

        <tooltip
            ng-if="toolTipText != '' && showLabel == true && toolTipText != undefined"
            class="ml-sm"
            text="{{ toolTipText }}"></tooltip>


        <span class="text-right text-sm pull-right"
              ng-if="showLabel == true"
              ng-show="!(data.selected.id == null || data.selected.id == '' || data.selected.id == undefined) && isEditable == true">
            <a ng-click="removeItem();">
                {{'REMOVE_TEXT'|translate}}
            </a>
        </span>

        <div class="clearfix"></div>
    </div>


    <div ng-if="isEditable == true"
         class="user-profile-view-rectangle relo-bg-bright-blue-10">
        <div class="item"
             ng-show="!(data.selected.id == null || data.selected.id == '' || data.selected.id == undefined)">

<!--            <em class="fa fa-info-circle text-24 mg-l-1x text-gray mr-sm"></em>-->

            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>

            <span class="principal pd-t-4">
               <a ng-click="openSearchDialog($event)">
                    <span class="">{{data.selected.name}}</span>
               </a>
            </span>

            <span class="close text-gray">
                <a ng-click="removeItem()">
                    <em class="fa fa-times"></em>
                </a>
            </span>

            <div class="clearfix"></div>
        </div>


        <div class="item"
             ng-show="data.selected.id == null || data.selected.id == '' || data.selected.id == undefined">
<!--            <em class="fa fa-info-circle text-24 mg-l-1x text-gray mr-sm"></em>-->
            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>

            <span class="principal pd-t-4">
               <a ng-click="openSearchDialog($event)">
                     {{'SELECT_TEXT' | translate }}
                </a>
            </span>
        </div>
    </div>

    <div class="user-profile-view"
         ng-if="isEditable == false">
        <div class="item"
             ng-if="!(data.selected.id == null || data.selected.id == '' || data.selected.id == undefined)">
<!--            <em class="fa fa-info-circle text-24 mg-l-1x text-gray mr-sm"></em>-->
            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>

            <span class="pd-t-4">{{data.selected.name}}</span>
        </div>

        <div class="item"
             ng-if="data.selected.id == null || data.selected.id == '' || data.selected.id == undefined">
<!--            <em class="fa fa-info-circle text-24 mg-l-1x text-gray mr-sm"></em>-->
            <span class="icon">
                <em class="fa fa-info text-dark-gray text-16"></em>
            </span>
            <span class="principal pd-t-3">
            </span>
        </div>
    </div>

    <input type="text"
           class="input-invisible"
           ng-model="data.selected.id"
           ng-hide="true"
           ng-required="isRequired"
           data-parsley-required-message="{{ requiredMessage | translate }}"/>
</div>
