#accountPriceTable, #productTable, #quoteItemTable, #accountProductTable {
    .productName, .chosen-single span {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .vatNumber, .chosen-single span {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .productCode {
        width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .accountProductName {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
