<div ng-controller="LessonFilter">
    <div class="task-filter mr-sm"
        uib-tooltip="{{'GRADE_TEXT' | translate}}">
        <app-grades-filter
            model="selected_grades"
            is-icon="true"
            float="true" inline-list="true" name="GRADE_TEXT"></app-grades-filter>
    </div>
    <div class="task-filter mr-sm"
        uib-tooltip="{{'CLASSROOM_TEXT' | translate}}">
        <app-classroom-filter
            model="selected_classrooms"
            is-icon="true"
            float="true" inline-list="true" name="CLASSROOM_TEXT"></app-classroom-filter>
    </div>
    <div class="task-filter mr-sm"
        uib-tooltip="{{'WEEK_TEXT' | translate}}">
        <app-weeks-filter
            model="selected_weeks"
            is-icon="true"
            float="true" inline-list="true" name="WEEK_TEXTM_TEXT"></app-weeks-filter>
    </div>
</div>
