<form class="form-validate pd-0 mg-0"
      validate-form=""
      ng-submit="saveFn()"
      novalidate>
    <div class="custom-dialog-overflow scroll-append scroll-y overflow-x-disable ">
        <div class="row">
            <div class="col-sm-6">
                <input-text is-editable="false"
                            is-required="true"
                            is-text="true"
                            ng-model="lesson.name"
                            required-message="ENTER_CONTENT_TEXT"
                            label="CONTENT_TEXT"
                            show-label="true"></input-text>

            </div>
            <div class="col-sm-6">
                <app-classroom-selector ng-model="lesson.class_id"
                                    show-label="true"
                                    is-editable="false"
                                    is-required="true"
                                    label="CLASSROOM_TEXT"></app-classroom-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <date-picker-input ng-model="lesson.date"
                                    disabled="true"
                                   ng-style="{'width':'200px'}"
                                   show-label="true"
                                   ng-show="!search.folderUuid"
                                   label="DATE_TEXT"
                                   show-label="false"
                                   required="true"
                                   output-type="timestamp"
                                   input-type="timestamp">
                </date-picker-input>
            </div>
            <div class="col-sm-6">
                <app-lesson-type-selector ng-model="lesson.lesson_type_id"
                                    show-label="true"
                                    is-editable="false"
                                    is-required="true"
                                    label="LESSON_TYPE_TEXT"></app-lesson-type-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <app-categories-selector ng-model="lesson.category_ids"
                                    categories="lesson.categories"
                                    show-label="true"
                                    is-editable="isEditable"
                                    is-required="true"
                                    class-id="lesson.class_id"
                                    label="CATEGORIES_TEXT"></app-categories-selector>
            </div>
            <div class="col-sm-6">
                <app-exam-type-selector ng-model="lesson.exam_type_id"
                                    show-label="true"
                                    is-editable="false"
                                    is-required="true"
                                    label="EXAM_TYPE_TEXT"></app-exam-type-selector>
            </div>
        </div>
    </div>

    <div class="text-right mg-t-20">
        <save-button-submit title="SAVE_BTN_TEXT" ng-disabled="saving" ng-if="isEditable"></save-button-submit>
    </div>
</form>
