<div class="custom-dialog-overflow scroll-append scroll-y overflow-x-disable text-dark-blue pd-l-20">
    <div ng-if="isLoading">
        <spinner-v2 type="spin"></spinner-v2>
    </div>
    <div class="mg-b-20">
        <div class="row mb">
            <span class="text-bold">{{'MAILING_ADDRESSES_TEXT' | translate}}</span>
        </div>
        <div class="row relo-bg-bright-gray" ng-repeat="mailAddress in mailAddresses track by $index">
            <div class="col-md-10">
                <div class="text-bold">{{mailAddress.name}}</div>
                <div class="">{{mailAddress.address1}}, {{mailAddress.district_name}}, {{mailAddress.province_name}},
                    {{mailAddress.city}}, {{mailAddress.country}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="flex" ng-if="isEditable">
                    <button-edit-icon ng-click="editFn( mailAddress )" class="mr-sm"></button-edit-icon>
                    <button-delete-icon ng-click="deleteFn( mailAddress )"></button-delete-icon>
                </div>
            </div>
        </div>
        <div ng-if="isEditable">
            <div class="flex clickable text-bright-blue" ng-click="createAddress()">
                <em class="fa fa-circle-plus mr-sm text-bright-blue txt-16"></em>
                {{ 'CREATE_ADDRESS_TEXT' | translate }}
            </div>
        </div>
    </div>

    <div class="mg-b-20">
        <div class="row mb">
            <span class="text-bold">{{'SITES_ADDRESSES_TEXT' | translate}}</span>
        </div>
        <div class="row relo-bg-bright-gray" ng-repeat="siteAddress in siteAddresses track by $index">
            <div class="col-md-10">
                <div class="text-bold">{{siteAddress.name}}</div>
                <div class="">{{siteAddress.address1}}, {{siteAddress.district_name}}, {{siteAddress.province_name}},
                    {{siteAddress.city}}, {{siteAddress.country}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="flex" ng-if="isEditable">
                    <button-edit-icon ng-click="editFn( siteAddress )" class="mr-sm"></button-edit-icon>
                    <button-delete-icon ng-click="deleteFn( siteAddress )"></button-delete-icon>
                </div>
            </div>
        </div>
        <div ng-if="isEditable">
            <div class="flex clickable text-bright-blue" ng-click="createAddress()">
                <em class="fa fa-circle-plus mr-sm text-bright-blue txt-16"></em>
                {{ 'CREATE_ADDRESS_TEXT' | translate }}
            </div>
        </div>
    </div>

    <div class="mg-b-20">
        <div class="row mb">
            <span class="text-bold">{{'BILLING_ADDRESSES_TEXT' | translate}}</span>
        </div>
        <div class="row relo-bg-bright-gray" ng-repeat="billAddress in billAddresses track by $index">
            <div class="col-md-10">
                <div class="text-bold">{{billAddress.name}}</div>
                <div class="">{{billAddress.address1}}, {{billAddress.district_name}}, {{billAddress.province_name}},
                    {{billAddress.city}}, {{billAddress.country}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="flex" ng-if="isEditable">
                    <button-edit-icon ng-click="editFn( billAddress )" class="mr-sm"></button-edit-icon>
                    <button-delete-icon ng-click="deleteFn( billAddress )"></button-delete-icon>
                </div>
            </div>
        </div>
        <div ng-if="isEditable">
            <div class="flex clickable text-bright-blue" ng-click="createAddress()">
                <em class="fa fa-circle-plus mr-sm text-bright-blue txt-16"></em>
                {{ 'CREATE_ADDRESS_TEXT' | translate }}
            </div>
        </div>
    </div>
</div>
