<div class="card noBorder">
    <div class="card-heading relo-bg-bright-gray card-title-heading">
        <span ng-show="!company.id">{{'CREATE_COMPANY_TEXT' | translate}}</span>
        <span ng-show="company.id">{{'EDIT_COMPANY_TEXT' | translate}}</span>
    </div>
    <form class=""
          validate-form=""
          ng-submit="saveFn()"
          ng-if="!isLoading"
          novalidate>
        <div class="card-body scroll-append scroll-y height-70vh overflow-x-disable">
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-text="true"
                                is-required="true"
                                ng-model="company.name"
                                required-message="ENTER_COMPANY_NAME_TEXT"
                                label="NAME_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-email="true"
                                is-lower-case="true"
                                is-required="true"
                                ng-model="company.email"
                                label="EMAIL_TEXT"
                                invalid-message="INVALID_EMAIL_TEXT"
                                required-message="ENTER_EMAIL_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-text="true"
                                is-required="false"
                                ng-model="company.address"
                                required-message="ADDRESS_TEXT"
                                label="ADDRESS_TEXT"
                                show-label="true"></input-text>
                </div>

                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-text="true"
                                is-required="false"
                                ng-model="company.street"
                                required-message="STREET_TEXT"
                                label="STREET_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-city="true"
                                is-required="true"
                                ng-model="company.town"
                                label="TOWN_TEXT"
                                required-message="TOWN_REQUIRED_TEXT"
                                show-label="true"></input-text>
                </div>

                <div class="col-md-6">
                    <app-country-selector ng-model="company.country_id"
                                          show-label="true"
                                          is-editable="true"
                                          is-required="true"
                                          label="COUNTRY_TEXT"
                                          required-message="{{ 'COUNTRY_REQUIRED_TEXT' | translate }}"></app-country-selector>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-required="false"
                                ng-model="company.fax"
                                required-message="FAX_TEXT"
                                label="FAX_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-telephone="true"
                                is-required="false"
                                ng-model="company.phone"
                                required-message="PHONE_TEXT"
                                label="PHONE_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-required="true"
                                ng-model="company.tax_number"
                                required-message="TAX_NUMBER_REQUIRED_TEXT"
                                label="TAX_NUMBER_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-md-6">
                    <input-text is-editable="true"
                                is-website="true"
                                ng-model="company.website"
                                label="WEBSITE_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
        </div>

        <div class="card-footer text-right">
            <button type="button" ng-if="company.id" class="btn relo-bg-red mr-lg" ng-click="deleteFn(company.id)"
                    title="{{'DELETE_BTN_TEXT' | translate}}">
                <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>
                {{'DELETE_BTN_TEXT' | translate}}
            </button>

            <save-button-submit title="SAVE_BTN_TEXT" ng-disabled="saving" ng-if="canSave"></save-button-submit>
        </div>
    </form>
</div>
