<div class="custom-datatable no-filter-page switch-search-filter table-responsive"
     ng-controller="DashboardAssignmentController">
    <table class="row-border hover" datatable="ng">
        <thead>
        <tr>
            <th>{{ 'ASSIGNMENT_TEXT' | translate }}</th>
            <th>{{ 'COMPANY_NAME_TEXT' | translate }}</th>
            <th>{{ 'CANDIDATE_TEXT' | translate }}</th>
            <th>{{ 'DESTINATION_TEXT' | translate }}</th>
            <th>{{ 'END_DATE_TEXT' | translate }}</th>
            <th>{{ 'APPROVAL_STATUS_TEXT' | translate }}</th>
            <th class="none-icon-sorting"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="assignment in assignments">
            <td>
                <a ui-sref="app.assignment.dashboard({uuid : assignment.uuid})">{{ assignment.number }}</a>
            </td>
            <td>{{ assignment.company_name }}</td>
            <td>
                <a ui-sref="{{ assignment.employee.state }}">
                    <employee-avatar-thumb uuid="assignment.employee.uuid"
                                           size="small"
                                           class="mr-sm"></employee-avatar-thumb>
                    {{ assignment.employee.fistname }} {{ assignment.employee.lastname }}
                </a>
            </td>
            <td>{{ assignment.destination_country }}</td>
            <td>{{ assignment.end_date }}</td>
            <td>
                <div ng-switch="assignment.approval_status">
                    <div ng-switch-when="1" class="label relo-bg-yellow custom-size">{{ 'PRE_APPROVAL_TEXT' | translate
                        }}
                    </div>
                    <div ng-switch-when="2" class="label label-warning custom-size">{{ 'IN_APPROVAL_TEXT' | translate
                        }}
                    </div>
                    <div ng-switch-when="3" class="label label-success custom-size">{{ 'APPROVED_TEXT' | translate }}
                    </div>
                    <div ng-switch-when="4" class="label relo-bg-red custom-size">{{ 'REJECTED_TEXT' | translate }}
                    </div>
                    <div ng-switch-when="5" class="label label-inverse custom-size">{{ 'TERMINATED_TEXT' | translate
                        }}
                    </div>
                    <div ng-switch-default class="label relo-bg-yellow custom-size">{{ 'PRE_APPROVAL_TEXT' | translate
                        }}
                    </div>
                </div>
            </td>
            <td class="noWrap">
                <button class="btn btn-oval btn-primary" type="button"
                        ui-sref="app.assignment.dashboard({uuid : assignment.uuid})">
                    <em class="fa fa-dashboard"></em>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
