<div>
    <div class="bg-page-404"></div>
    <div class="text-center position-absolute content-404" >
        <!-- START panel-->
<!--        <div class="mb-xl">-->
<!--            <div class="text-lg mb-lg">-->
<!--                <icon class="fa fa-eye-slash"></icon>-->
<!--            </div>-->
<!--            <p class="lead m0">We couldn't find this page.</p>-->
<!--            <p>The page you are looking for does not exists.</p>-->
<!--        </div>-->


<!--        <ul class="list-inline text-center text-sm mb-xl">-->
<!--            <li><a class="text-muted" href="" ui-sref="app.dashboard">Go to App</a>-->
<!--            </li>-->
<!--        </ul>-->

        <div class="text-center">
            <img class="img-responsive mg-auto" src="/gms/assets/img/svg/Oops.svg">
            <div class="mg-t-20">
                <h1 class="txt-dark-blue"><span class="txt-bright-blue">404</span> - {{'PAGE_NOT_FOUND_TEXT' | translate}}</h1>
                <p class="txt-dark-blue txt-18">{{'404_DATA_DOES_NO_LONGER_EXIST_TEXT' | translate}}</p>
            </div>

            <div class="mg-t-50">
                <a ui-sref="app.dashboard" class="btn btn-primary">{{'BACK_TO_HOME_PAGE_TEXT' | translate}}</a>
            </div>
        </div>


    </div>
</div>
