<div ng-controller="SidebarEmployeeBlockController">
    <div class="item user-block" ng-if="baseEmployee.uuid != undefined && baseEmployee.uuid != ''">
        <!-- User picture-->
        <div class="user-block-picture">
            <div class="user-block-status">
                <a>
                    <employee-avatar-thumb uuid="{{ baseEmployee.uuid }}" size="xlarge"></employee-avatar-thumb>
                </a>
            </div>
        </div>

        <!-- Name and Job-->
        <div class="user-block-info">

            <a class="color-white"
               app-acl-allow="employee/index"
               acl-remove="true"
               ui-sref="app.employees.view({id:baseEmployee.id})">
                <h4 class="user-block-name">{{ baseEmployee.firstname }}</h4>
                <h4 class="user-block-name">{{ baseEmployee.lastname }}</h4>
            </a>

            <a class="color-white"
               gms-acl-not-allow="employee/index">
                <h4 class="user-block-name">{{ baseEmployee.firstname }}</h4>
                <h4 class="user-block-name">{{ baseEmployee.lastname }}</h4>
            </a>

            <p class="user-block-text color-white"
               ng-if="baseEmployee.company_name  != '' && baseEmployee.company_name != undefined">
                <i class="fa fa-building mr-sm" aria-hidden="true"></i>{{ baseEmployee.company_name }}
            </p>
        </div>

        <hr class="divider text-white">

        <div class="user-block-info row text-white"
             ng-show="destinationCountry != undefined && homeCountry != undefined">
            <div class="col-xs-12">
                <div class="col-xs-5 user-block-location">{{ homeCountry.iso3 }}</div>
                <div class="col-xs-2"><em class="fa fa-angle-right" aria-hidden="true"></em></div>
                <div class="col-xs-5 user-block-location">{{ destinationCountry.iso3 }}</div>
            </div>
            <div class="col-xs-12" ng-show="destinationCity != undefined && homeCity != undefined">

                <div class="col-xs-5 user-block-location">{{ homeCity }}</div>
                <div class="col-xs-2"><em class="fa fa-angle-right" aria-hidden="true"></em></div>
                <div class="col-xs-5 user-block-location">{{ destinationCity }}</div>
            </div>
        </div>


        <hr class="divider text-white">


        <div class="user-block-info">

            <p ng-if="baseEmployee.reference  != '' && baseEmployee.reference != undefined"
               class="user-block-text"><strong>EID</strong> {{ baseEmployee.reference }}</p>

            <p ng-if="baseAssignment.reference != '' && baseAssignment.reference != undefined"
               class="user-block-text"><strong>AID</strong>

                <a app-acl-allow="assignment/index"
                   acl-remove="true"
                   ui-sref="app.assignment.dashboard({uuid:baseAssignment.uuid})" class="text-bright-blue">
                    {{ baseAssignment.reference }}</a>

                <a gms-acl-not-allow="assignment/index"
                   class="text-bright-blue">
                    {{ baseAssignment.reference }}</a>
            </p>


            <p ng-if="baseRelocation.identify != '' && baseRelocation.identify != undefined"
               class="user-block-text"><strong>RID</strong>
                <a app-acl-allow="relocation/view"
                   acl-remove="true"
                   ui-sref="app.relocation.dashboard({uuid:baseRelocation.uuid})"
                   class="text-bright-blue">{{ baseRelocation.identify }}</a>

                <a gms-acl-not-allow="relocation/view"
                   ui-sref="app.relocation.dashboard({uuid:baseRelocation.uuid})"
                   class="text-bright-blue">{{ baseRelocation.identify }}</a>

            </p>

            <p ng-if="baseService.name != undefined && baseEmployee.baseService.name != undefined"
               class="user-block-text"><strong>SRV</strong>

                <a app-acl-allow="relocation-service/index"
                   acl-remove="true"
                   ui-sref="app.relocation.service-detail({uuid:baseService.uuid})"
                   class="text-bright-blue">{{ baseService.name }}</a>

                <a gms-acl-not-allow="relocation-service/index"
                   acl-remove="true"
                   class="text-bright-blue">{{ baseService.name }}</a>

            </p>
        </div>

        <hr class="divider text-white">

        <div class="user-block-info">
            <p ng-if="baseEmployee.phonework  != '' && baseEmployee.phonework != undefined"
               class="user-block-text"><strong><i class="fa fa-phone mr-sm" aria-hidden="true"></i></strong> {{
                baseEmployee.phonework }}</p>

            <p ng-if="baseEmployee.phonehome != '' && baseEmployee.phonehome != undefined"
               class="user-block-text"><strong><i class="fa fa-phone mr-sm" aria-hidden="true"></i></strong> {{
                baseEmployee.phonehome }}</p>

            <p ng-if="baseEmployee.mobilehome != '' && baseEmployee.mobilehome != undefined"
               class="user-block-text"><strong><i class="fa fa-mobile mr-sm" aria-hidden="true"></i></strong> {{
                baseEmployee.mobilehome }}</p>

            <p ng-if="baseEmployee.workemail != '' && baseEmployee.workemail != undefined"
               class="user-block-text"><strong><i class="fa fa-envelope mr-sm" aria-hidden="true"></i></strong> {{
                baseEmployee.workemail }}</p>

            <p ng-if="baseEmployee.privateemail != '' && baseEmployee.privateemail != undefined"
               class="user-block-text"><strong><i class="fa fa-envelope mr-sm" aria-hidden="true"></i></strong> {{
                baseEmployee.privateemail }}</p>
        </div>
    </div>
</div>
