<div>
    <div class="bg-request-payment"></div>
    <div class="text-center position-absolute content-404">
        <!-- START panel-->
<!--        <div class="mb-xl">-->
<!--            <h4>-->
<!--                {{ 'TIME_TO_UPGRADE_DSP_TITLE_TEXT' | translate}}-->
<!--            </h4>-->
<!--            <div class="text-lg mb-lg">-->
<!--                <img src="/gms/assets/img/icons/launch.png" class="thumb-rectangle-128">-->
<!--            </div>-->
<!--            <p>-->
<!--                {{ 'TIME_TO_UPGRADE_DSP_SUBTITLE_TEXT' | translate }}-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="text-center mt-lg">-->
<!--            <button class="btn btn-default relo-bg-dark-blue-75" ng-style="{ 'border': 'none'}"-->
<!--                    ng-click="goPlanPremium()">-->
<!--                <div class="text-white flex">-->
<!--                    <i class="fa fa-lock fa-2x"></i>-->
<!--                    <span class="ml-lg flex-middle ">{{ 'PURCHASE_TEXT' | translate }}</span>-->
<!--                </div>-->
<!--            </button>-->
<!--        </div>-->

        <div class="text-center">
            <img class="img-responsive mg-auto" src="/gms/assets/img/svg/Protime.svg">
            <div class="mg-t-20">
                <h1 class="txt-dark-blue">{{'FREE_TRIAL_PERIOD_EXPIRED_TEXT' | translate}}</h1>
                <p class="txt-dark-blue txt-18">{{'TIME_TO_UPGRADE_DSP_SUBTITLE_TEXT' | translate}}</p>
            </div>

            <div class="mg-t-50">
                <a ng-click="goPlanPremium()" class="btn btn-primary">{{'PURCHASE_TEXT' | translate}}</a>
            </div>
        </div>



    </div>
</div>
