<!-- sidebar-->
<nav ng-controller="sideNavCtrl" class="ver-nav" ng-init="app.layout.isCollapsedNav = true"
     ng-class="{'ver-nav-container': !app.layout.isCollapsedNav,'ver-nav-collapse': app.layout.isCollapsedNav}">
    <div class="ver-nav-header" id="relo-ver-nav-header">
        <a class="navbar-brand" ng-click="app.layout.isCollapsedNav = !app.layout.isCollapsedNav">
            <div class="" ng-if="!app.layout.isCollapsedNav">
                <img class="img img-responsive text-center" ng-src="{{theme.logo_url}}" err-image-on-load=""
                     style="max-height: 43px; align-content: center;"
                     x-type="theme_logo" alt="App Logo"/>
            </div>
            <div class="" ng-if="app.layout.isCollapsedNav">
                <img class="img-responsive mt0 thumb32" ng-src="{{theme.icon_url}}" err-image-on-load=""
                     x-type="theme_icon" alt="App Logo"/>
            </div>
        </a>
    </div>
    <div class="ver-nav-content">
        <nav class="sidebar" data-sidebar-anyclick-close="">
            <!-- START sidebar nav-->
            <ul class="sidebar-nav" id="relo-nav-top">
                <!-- START user info-->
                <li class="dropdown dropdown-list has-children"
                    id="userAccessTrigger"
                    ng-mouseover="showDropDown()"
                    ng-mouseleave="hideDropDown()"
                    uib-dropdown=""
                    auto-close="outsideClick"
                    ng-controller="AppProfileMenuController"
                    ng-class="{active: $state.includes('app.profile'), collapse_nav: !!app.layout.isCollapsedNav}"
                    tooltip-placement="right"
                    tooltip-enable="!!app.layout.isCollapsedNav">
<!--                    <a uib-dropdown-toggle="" style="padding-top: 7px !important;" ui-sref="app.profile">-->
                    <a uib-dropdown-toggle="" style="padding-top: 7px !important;" >
                        <user-avatar-thumb uuid="{{ user.uuid }}" size="small"></user-avatar-thumb>
                        <span class="ml" ng-if="!app.layout.isCollapsedNav">{{ 'PROFILE_TEXT' | translate }}</span>
                    </a>

                    <ul id="userAccessMenu" uib-dropdown-menu
                        class="dropdown-menu animated fadeInLeftBig user-access-policy">
                        <div class="col-lg-12 align-center pd-15x">
                            <user-avatar-thumb uuid="{{ user.uuid }}" size="large"></user-avatar-thumb>
                        </div>
                        <div class="col-lg-12 align-center mg-b-md">
                            <p class="mb0 text-16" style="color:black"><strong>{{user.firstname}} {{user.lastname}}</strong></p>
                            <p class="mb0 text-16" style="color:black"><strong>{{company.name}}</strong></p>
                            <p class="mb0" style="color:black">{{user.workemail}}</p>
                        </div>
                        <div class="col-lg-12 align-center mg-b-md">
                            <a ui-sref="app.profile" ng-click="hideDropDown($event)">
                                {{ 'PROFILE_PREFERENCES_TEXT' | translate }}
                            </a>
                        </div>
                        <div class="col-lg-12 align-center mg-t-md mg-b-sm">
                            <div
                                class="col-lg-6 align-left pd-l-0 text-12"
                                ng-bind-html="'TERMS_CONDITIONS_HTML' | translate | trustMe"
                            >
                            </div>
                            <div
                                class="col-lg-6 align-right pd-r-0 text-12"
                                ng-bind-html="'PRIVACY_POLICY_HTML' | translate | trustMe"
                            >
                            </div>
                        </div>

                    </ul>
                </li>

                <!--<li ng-class="{active: $state.includes('app.notifications.list'), collapse_nav: !!app.layout.isCollapsedNav}"-->
                <!--tooltip-placement="right"-->
                <!--tooltip-enable="!!app.layout.isCollapsedNav"-->
                <!--uib-tooltip="{{ 'NOTIFY_ME_TEXT' | translate }}">-->
                <!--<a ui-sref="app.notifications.list" title="{{'NOTIFY_ME_TEXT' | translate}}" style="position: relative">-->
                <!--<em class="fa fa-inbox"></em>-->
                <!--<span class="" ng-if="!app.layout.isCollapsedNav">{{'NOTIFY_ME_TEXT' | translate}}</span>-->
                <!--<span class="badge bg-info" style="position: absolute; top: -5px; left: 20px">+9</span>-->
                <!--</a>-->
                <!--</li>-->

<!--                <li ng-class="{active: $state.includes('app.notifications.list'), collapse_nav: !!app.layout.isCollapsedNav}"-->
<!--                    class="dropdown dropdown-list has-children" uib-dropdown=""-->
<!--                    auto-close="outsideClick"-->
<!--                    ng-controller="HistoryNotificationController"-->
<!--                    ng-include="'/app/views/base/notifications.html'"></li>-->

                <li ng-class="{active: $state.includes('app.notifications.list'), collapse_nav: !!app.layout.isCollapsedNav}"
                    class="dropdown dropdown-list has-children" uib-dropdown=""
                    auto-close="outsideClick"
                    ng-controller="HistoryNotificationController">
                    <a uib-dropdown-toggle="" ng-click="openLeftDialog($event)" tooltip-placement="right" uib-tooltip="{{'NOTIFICATION_TEXT' | translate}}">
                        <em class="fa-solid fa-bell"></em>
                        <span class="label label-info relo-bg-red" ng-class="{'mg-r-5': !app.layout.isCollapsedNav}" ng-if="count >= 10">9+</span>
                        <span class="label label-info relo-bg-red" ng-class="{'mg-r-5': !app.layout.isCollapsedNav}" ng-if="count < 10 && count > 0" ng-bind="count"></span>
                        <span class="" ng-if="!app.layout.isCollapsedNav">{{'NOTIFICATION_TEXT' | translate}}</span>
                    </a>
                </li>

                <!-- END user info-->
                <!-- Iterates over all sidebar items-->
                <!--<li class="nav-heading ">-->
                <!--<span data-localize="sidebar.heading.HEADER">Main Navigation</span>-->
                <!--</li>-->

                <li>
                    <hr/>
                </li>

                <li ng-repeat="item in menuItems"
                    ng-class="{active: $state.includes(item.sref), collapse_nav: !!app.layout.isCollapsedNav}"
                    class="{{item.class}}"
                    tooltip-placement="right"
                    tooltip-enable="!!app.layout.isCollapsedNav"
                    uib-tooltip="{{ item.text | translate }}">
                    <!--&lt;!&ndash;popover-trigger="'mouseenter'"&ndash;&gt;-->
                    <!--&lt;!&ndash;uib-popover="I appeared on mouse enter!"&ndash;&gt;-->
                    <!--&lt;!&ndash;popover-placement="right">-->
                    <hr ng-if="!!item.deliver"/>
                    <a ng-if="!item.deliver" ui-sref="{{item.sref}}" title="{{ item.text | translate }}"
                       app-acl-allow="{{item.appAclAllow}}" acl-remove="{{item.aclRemove}}">


                        <em ng-if="item.iconType=='fontawesome'" class="{{item.icon}}"></em>
                        <img ng-if="item.iconType=='svg'" ng-src="{{item.icon}}"
                             class="icon-svg white small"
                             ng-class="{'mr':!app.layout.isCollapsedNav}">
                        <span ng-if="!app.layout.isCollapsedNav">{{ item.text | translate }}</span>
                    </a>
                </li>

            </ul>
            <ul class="sidebar-nav relo-nav-bottom" id="relo-nav-bottom">
                <li ng-class="{active: $state.includes('app.admin-page'), collapse_nav: !!app.layout.isCollapsedNav}"
                    tooltip-placement="right"
                    tooltip-enable="!!app.layout.isCollapsedNav"
                    uib-tooltip="{{ 'ADMIN_PAGE_TEXT' | translate }}">
                    <a ui-sref="app.admin-page.dashboard" title="Admin Page" app-acl-allow="admin/index" acl-remove="true">
                        <em class="fa-solid fa-gear"></em>
                        <span class="" ng-if="!app.layout.isCollapsedNav">{{'ADMIN_PAGE_TEXT' | translate}}</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes(item.sref), collapse_nav: !!app.layout.isCollapsedNav}"
                    tooltip-placement="right"
                    tooltip-enable="!!app.layout.isCollapsedNav"
                    uib-tooltip="{{ 'LOGOUT_TEXT' | translate }}">
                    <a ui-sref="logout" title="{{ 'LOGOUT_TEXT' | translate }}">
<!--                        <img src="/app/assets/img/svg/logout.svg"-->
<!--                             class="mr icon-svg white small"/>-->
                        <em class="fa-solid fa-right-from-bracket"></em>
                        <span class="" ng-if="!app.layout.isCollapsedNav">{{'LOGOUT_TEXT' | translate}}</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</nav>
