<div>
    <div class="bg-request-payment"></div>
    <div class="text-center position-absolute content-404">
        <!-- START panel-->
<!--        <div class="mb-xl">-->
<!--            <h4>-->
<!--                {{ 'YOUR_SUBSCRIPTION_PAUSED_TEXT' | translate}}-->
<!--            </h4>-->
<!--            <div class="text-lg mb-lg">-->
<!--                <img src="/gms/assets/img/icons/lock-subscription.png" class="thumb-rectangle-128">-->
<!--            </div>-->
<!--            <div class="mb-lg mt-lg" ng-bind-html="'YOUR_SUBSCRIPTION_PAUSED_TEXT_SUBTITLE_TEXT'| translate | trustMe">-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="text-center mt-lg">-->
<!--            <button class="btn btn-default relo-bg-dark-blue-75" ng-style="{ 'border': 'none'}"-->
<!--                    ng-click="goPlanPremium()">-->

<!--                    <span class="">{{ 'REACTIVATE_SUBSCRIPTION_TEXT' | translate }}</span>-->

<!--            </button>-->
<!--        </div>-->

        <div class="text-center">
            <img class="img-responsive mg-auto" src="/gms/assets/img/svg/Oops.svg">
            <div class="mg-t-20">
                <h1 class="txt-dark-blue">{{'YOUR_SUBSCRIPTION_PAUSED_TEXT' | translate}}</h1>
                <div class="mb-lg mt-lg" ng-bind-html="'YOUR_SUBSCRIPTION_PAUSED_TEXT_SUBTITLE_TEXT'| translate | trustMe"></div>
            </div>

            <div class="mg-t-50">
                <a ng-click="goPlanPremium()" class="btn btn-primary">{{'REACTIVATE_SUBSCRIPTION_TEXT' | translate}}</a>
            </div>
        </div>
    </div>
</div>
