<div class="card">
    <div class="card-heading relo-bg-bright-gray">
        <span class="text-dark-blue">
           {{ isClone == true ?  ('CLONE_BUSINESS_ZONE_TEXT' | translate) + (' #' + object.id) : (object.id ?  ('EDIT_BUSINESS_ZONE_TEXT' | translate) + ' #' + object.id : ('CREATE_BUSINESS_ZONE_TEXT' | translate)) }}
        </span>
    </div>
    <form class="form-validate noPadding" validate-form="true"
          id="" name="crudForm"
          role="form" ng-submit="" novalidate="">
        <div class="card-body custom-dialog-overflow height-100vh-m90px">
            <spinner-v2 type="spin" ng-show="page_loading"></spinner-v2>
            <div ng-show="!page_loading">
                <div class="row">
                    <div class="col-md-12">
                        <input-text is-editable="true"
                                    is-required="true"
                                    is-text="true"
                                    ng-model="object.name"
                                    required-message="FIELD_IS_REQUIRED_TEXT"
                                    label="NAME_TEXT"
                                    show-label="true"></input-text>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <input-text is-editable="true"
                                    is-required="false"
                                    is-text="true"
                                    ng-model="object.code"
                                    label="CODE_TEXT"
                                    show-label="true"></input-text>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input-text-area
                                is-editable="true"
                                placeholder="ENTER_DESCRIPTION_TEXT"
                                is-text="true"
                                rows="5"
                                label="DESCRIPTION_TEXT"
                                show-label="true"
                                ng-model="object.description"></input-text-area>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label class="txt-12">
                                {{'ACTIVATED_TEXT' | translate}}
                            </label>
                        </div>
                        <label class="switch switch-md">
                            <input type="checkbox"
                                   ng-value="1"
                                   ng-checked="object.status == 1"
                                   ng-click="object.status = object.status == 1 ? 0 : 1"
                                   ng-model="object.status"/>
                            <span ng-class=""></span>
                        </label>
                    </div>

                </div>



            </div>
        </div>
        <div class="card-footer">
<!--            <div class="pull-left">-->
<!--                <button type="button"-->
<!--                        class="btn btn-default btn-oval" ng-click="closeThisDialog(0)">-->
<!--                    <em class="fa fa-long-arrow-left mr-sm"></em>-->
<!--                    {{'CANCEL_TEXT' | translate}}-->
<!--                </button>-->
<!--            </div>-->
            <div class="pull-right text-right">

                <button type="submit" class="btn relo-bg-green"
                        ng-disabled="saving"
                        ng-click="crudForm.$valid && saveFn();">
                    <em class="fa-solid  mr-sm {{ saving ? 'fa-spin fa-spinner' : 'fa-floppy-disk'}}"></em>
                    {{ 'SAVE_BTN_TEXT' | translate }}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>