<!DOCTYPE html>
<html lang="en" data-ng-app="smxd">

<head>
    <base href="/app/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="meta_description">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta name="robots" CONTENT="noindex, nofollow">
    <title >San May Xay Dung</title>
    <link rel='apple-touch-icon' sizes='57x57' href='/app/assets/img/icons/icon57x57.png'>
    <link rel='apple-touch-icon' sizes='60x60' href='/app/assets/img/icons/icon60x60.png'>
    <link rel='apple-touch-icon' sizes='72x72' href='/app/assets/img/icons/icon72x72.png'>
    <link rel='apple-touch-icon' sizes='76x76' href='/app/assets/img/icons/icon76x76.png'>
    <link rel='apple-touch-icon' sizes='114x114' href='/app/assets/img/icons/icon114x114.png'>
    <link rel='apple-touch-icon' sizes='120x120' href='/app/assets/img/icons/icon120x120.png'>
    <link rel='apple-touch-icon' sizes='144x144' href='/app/assets/img/icons/icon144x144.png'>
    <link rel='apple-touch-icon' sizes='152x152' href='/app/assets/img/icons/icon152x152.png'>
    <link rel='apple-touch-icon' sizes='180x180' href='/app/assets/img/icons/icon180x180.png'>
    <link rel='icon' type='image/png' sizes='192x192' href='/app/assets/img/icons/icon192x192.png'>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="/app/assets/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <!-- ngMaterial styles-->
    <link rel="stylesheet" href="/app/libraries/angular-material/angular-material.min.css">
    <!-- Application styles-->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
</head>

<body
    data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}">
<div data-preloader></div>
<div class="wrapper" data-ui-view="" data-autoscroll="false">
</div>

</body>
</html>
