<!-- CORE APP @TODO use REV to rewrite this part -->
<script src="/resources/js/env.js"></script>
<script src="/resources/js/base.js"></script> <!--- use rev --->
<script src="/libraries/angular-material/angular-material.min.js"></script> <!--- use rev --->
<!-- END CORE APP -->

<!-- CORE AREA -->
<!-- EXEMPLE
<script src="/resources/js/app.js"></script>
<script src="/resources/js/app.js"></script>
<script src="/resources/js/hr.js"></script>
<script src="/resources/js/employees.js"></script>
-->


<!-- CONTROLLERS AND ROUTES JS -->
<!-- EXEMPLE DEV
<script src="/app/js/companies.js"></script>
-->
<!-- EXEMPLE PRODUCTION
<script src="/app/js/controllers_39902101.js"></script>
-->
