<form class="form-validate" validate-form="" role="form" name="productForm" data-parsley-validate=""
    ng-submit="saveFn()" ng-if="!page_loading" novalidate>
    <div class="panel panel-default-b white-block">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <input-text is-editable="true" is-required="true" is-text="true" ng-model="product.name"
                        required-message="ENTER_NAME_TEXT" label="NAME_TEXT" show-label="true"></input-text>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <app-brand-selector ng-model="product.brand_id" show-label="true" is-required="true"
                        label="BRAND_TEXT"></app-brand-selector>
                </div>
                <div class="col-sm-6">
                    <app-model-selector ng-model="product.model_id" brand-id="product.brand_id" show-label="true"
                        is-required="false" label="MODEL_TEXT"></app-model-selector>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <app-category-selector ng-model="product.main_category_id" level-1-only="true" show-label="true"
                        is-editable="false"
                        is-required="true" label="CATEGORY_TEXT"></app-category-selector>
                </div>
                <div class="col-sm-6">
                    <app-category-selector ng-model="product.secondary_category_id" parent-id="product.main_category_id"
                        is-editable="false"
                        show-label="true" is-required="true" label="SUBCATEGORY_TEXT"></app-category-selector>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <app-year-selector ng-model="product.year" show-label="true" is-required="false"
                        label="YEAR_TEXT"></app-year-selector>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true" is-required="false" is-numeric="true" min="0"
                        ng-model="product.usage" label="HOURS_TEXT" show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true" is-required="false" is-text="true" ng-model="product.vehicle_id"
                        label="VIN_TEXT" show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <app-company-selector ng-model="product.creator_company_id"
                                        is-editable="true"
                                        show-label="true"
                                        is-required="false"
                                        label="COMPANY_TEXT"></app-company-selector>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" ng-if="product.id" class="btn relo-bg-red mr-lg"
                    ng-click="deleteFn()" app-acl-allow="product/delete" acl-remove="true" title="Delete">
                    <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>
                    {{'DELETE_BTN_TEXT' | translate}}
                </button>
                <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving" ng-if="canSave"><i
                        class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                    {{'SAVE_BTN_TEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>