<form class="form-validate" validate-form="" role="form" name="productRentForm" data-parsley-validate=""
    ng-submit="saveFn()" ng-if="!page_loading" novalidate>
    <div class="panel panel-default-b white-block">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <app-yes-no-input ng-model="product.product_rent_info.status"
                                          label="IS_ACTIVE_TEXT"
                                          label-floating="false"
                                          init-value="false"></app-yes-no-input>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true" is-required="false" is-numeric="true" ng-model="product.product_rent_info.period_quantity"
                        required-message="ENTER_PERIOD_QUANTITY_TEXT" label="PERIOD_QUANTITY_TEXT" show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <div class="form-group-radius">
                        <label class="label-text-form">{{ 'PERIOD_TEXT' | translate }}
                        </label>
                        <select class="form-control relo-bg-bright-blue-10"
                                ng-disabled="false"
                                ng-model="product.product_rent_info.period_type"
                                name="period_type"
                                ng-required="true"
                                ng-options="item.value as (item.name | translate) for item in periodList | orderBy:'name'">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <input-price
                        is-editable="true"
                        step="0.01"
                        is-numeric="true"
                        label="PRICE_TEXT"
                        show-label="true"
                        name="price"
                        model-reference="product.product_rent_info.price"
                        ng-model="product.product_sale_info.price"></input-price>
                </div>
                <div class="col-sm-6">
                    <app-currency-selector
                            ng-model="product.product_rent_info.currency"
                            is-editable="true"
                            label="CURRENCY"
                            show-label="true"></app-currency-selector>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                        <utc-picker-input
                            ng-model="product.product_rent_info.availability_date"
                            required="true"
                            ng-style="{'padding-top':'0px'}"
                            name="availability_date_local"
                            label="AVAILABILITY_DATE_TEXT"
                            is-init-today="true"
                            show-label="true"
                            output-type="timestamp"
                            input-type="timestamp"></utc-picker-input>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving" ng-if="canSave"><i
                        class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                    {{'SAVE_BTN_TEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>