<form class="form-validate" validate-form="" role="form" name="productSaleForm" data-parsley-validate=""
    ng-submit="saveFn()" ng-if="!page_loading" novalidate>
    <div class="panel panel-default-b white-block">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true" is-required="false" is-numeric="true" ng-model="product.product_sale_info.quantity"
                        required-message="ENTER_QUANTITY_TEXT" label="QUANTITY_TEXT" show-label="true"></input-text>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <input-price
                        is-editable="true"
                        step="0.01"
                        is-numeric="true"
                        label="PRICE_TEXT"
                        show-label="true"
                        name="price"
                        model-reference="product.product_sale_info.price"
                        ng-model="product.product_sale_info.price"></input-price>
                </div>
                <div class="col-sm-6">
                    <app-currency-selector
                            ng-model="product.product_sale_info.currency"
                            is-editable="true"
                            label="CURRENCY"
                            show-label="true"></app-currency-selector>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving" ng-if="canSave"><i
                        class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                    {{'SAVE_BTN_TEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>