<form class="form-validate" validate-form="" role="form" name="productForm" data-parsley-validate=""
    ng-submit="saveFn()" ng-if="!page_loading" novalidate>
    <div class="panel panel-default-b white-block">
        <div class="panel-body">

            

            <app-basic-content ng-model="product.uuid" is-editable="true"></app-basic-content>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving" ng-if="canSave"><i
                        class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                    {{'SAVE_BTN_TEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>