<div class="" ng-controller="ProductListController">
    <div ng-include="'/app/views/product/buttons.html'"></div>
    <div class="project-filter">
        <div class="pd-1x relo-bg-dark-blue-5 bd-radius-5x">
            <div class="row mx-0">
               <div class="col-sm-7 text-left pd-l-0 pd-r-5">
                   <ng-include src="'/app/views/product/filter.html'"></ng-include>
                </div> 
                <div class="col-sm-5 text-right pd-r-0">
                    <button ng-click="clearFilter()"
                            uib-tooltip="{{'CLEAR_ALL_FILTERS_BTN_TEXT' | translate}}"
                            class="btn pointer btn-round pull-right filter-dark-blue" style="margin-top:3px;">
                        <i class="fa-solid fa-eraser txt-16"></i>
                    </button>
                    <div class="btn-group dropdown open pull-right mr-sm "
                         uib-dropdown=""
                         style="vertical-align: unset; margin-top: 3px">
                        <button type="button" class="btn btn-round dropdown-toggle"
                                uib-dropdown-toggle=""
                                aria-haspopup="true" aria-expanded="true">
                            <i class="fa-solid fa-arrow-down-wide-short txt-16" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu="" role="menu"
                            aria-labelledby="split-button">
                            <li role="menuitem" ng-repeat="column in columns">
                                <a ng-click="sortByColumnAndOrder(column.name, column.descending)">
                                    {{column.label | translate}} {{ column.sortText | translate}}</a></li>
                        </ul>
                    </div>
                    <div class="project-filter-select pull-right mr-sm">
                        <div class="input-group search">
                            <input
                                class="form-control form-control-custom-radius filter-search ng-valid filter-search-timelog"
                                placeholder="{{('SEARCH_TEXT') | translate}}"
                                ng-model="query"
                                ng-keypress="($event.which === 13) ? loadPage():0"/>
                            <span class="input-group-btn">
                                <button type="button" ng-click="loadPage()" class="btn btn-default btn-flat"
                                        style="">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <div class="scroll-append scroll-y height-100vh-m140px overflow-x-disable" when-scrolled="loadMore()">
        <div>
            <spinner-v2 type="spin" ng-show="isInitialLoading"></spinner-v2>

            <angular-table table="table"
                           items="items"
                           ng-if="!isInitialLoading && items.length > 0"
                           search-input-enable="false">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-dark-blue bd-b-white">#</th>
                        <th class="text-dark-blue bd-b-white">{{'NAME_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'CATEGORY_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'BRAND_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'YEAR_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'COMPANY_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'STATUS_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white">{{'CREATED_AT_TEXT' | translate }}</th>
                        <th class="text-dark-blue bd-b-white"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index, object) in table.pagedItems[table.currentPage]" class="relo-bg-bright-gray-4 bd-r-5 border-white">
                        <td class="bd-t-white">{{ index + 1}}</td>
                    <td  class="bd-t-white">
                        <div ng-click="editProductFn( object )"
                             class="wrap-word text-bright-blue">{{ object.name }}
                        </div>
                    </td>
                    <td class="bd-t-white">{{ object.main_category_name }}</td>
                    <td class="bd-t-white">{{ object.brand_name }}</td>
                    <td class="bd-t-white">{{ object.year }}</td>
                    <td class="bd-t-white">{{ object.company_name }}</td>
                    <td class="bd-t-white">
                        <button class="selected-status btn btn-flat btn-circle flex text-center flex-vertical width-18px height-18px bd-radius-9px"
                                uib-dropdown-toggle=""
                                aria-haspopup="true"
                                aria-expanded="false"
                                tooltip-placement="bottom"
                                uib-tooltip="{{ object.is_active  == 1 ? ('UNVERIFIED_TEXT' | translate) : (object.is_active  == 2 ? ('VERIFIED_TEXT' | translate) : ('PUBLISHED_TEXT' | translate)) }}"
                                ng-class="{'unverified': object.status == 1, 'is-active': object.status == 2, 'in-aproval': object.status == 3}">
                        </button>
                    </td>
                    <td class="bd-t-white">{{ object.created_at | amDateFormat: 'DD/MM/YYYY'}}</td>
                    <td class="text-right bd-t-white">
                        <button-edit-icon ng-click="editProductFn( object )" class="mr-sm"></button-edit-icon>
                        <button-delete-icon ng-click="deleteFn( object.uuid )"
                        app-acl-allow="product/delete"
                        acl-remove="true"></button-delete-icon>
                    </td>
                    </tr>

                    </tbody>
                </table>
            </angular-table>
            <div class="row" ng-if="loadingMore">
                <div class="col-lg-12">
                    <spinner-v2 type="spin" ></spinner-v2>
                </div>
            </div>
        </div>

    </div>
</div>
