<div class="panel panel-default-b">
    <div class="panel-heading">
        <h4 class="text-dark-blue">{{'BASIC_INFORMATION_TEXT' | translate }}</h4>
    </div>
    <div  class="panel-body">
        <form class="form-validate noPadding" validate-form="true"
              id="" name="crudForm"
              role="form" ng-submit="" novalidate="">
            <div class="">
                <spinner-v2 type="spin" ng-show="page_loading"></spinner-v2>
                <div ng-show="!page_loading">
                    <div class="row">
                        <div class="col-md-12">
                            <input-text is-editable="true"
                                        is-required="true"
                                        is-text="true"
                                        ng-model="object.name"
                                        required-message="FIELD_IS_REQUIRED_TEXT"
                                        label="NAME_TEXT"
                                        show-label="true"></input-text>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <logo-upload-v2 class="mg-b-2s"
                                         button-text="UPLOAD_SQUARED_LOGO_TEXT"
                                         type="squared_logo"
                                         acl-edit-allow="true"
                                         uuid="object.uuid"></logo-upload-v2>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <logo-upload-v2 class="mg-b-2s"
                                         button-text="UPLOAD_RECTANGULAR_LOGO_TEXT"
                                         type="rectangular_logo"
                                         acl-edit-allow="true"
                                         uuid="object.uuid"></logo-upload-v2>
                        </div>
                    </div>

                    <div class="row mg-t-15">
                        <div class="col-md-12">
                            <input-text-area
                                    is-editable="true"
                                    placeholder="ENTER_DESCRIPTION_TEXT"
                                    is-text="true"
                                    rows="5"
                                    label="DESCRIPTION_TEXT"
                                    show-label="true"
                                    ng-model="object.description"></input-text-area>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label class="txt-12">
                                    {{'ACTIVATED_TEXT' | translate}}
                                </label>
                            </div>
                            <label class="switch switch-md">
                                <input type="checkbox"
                                       ng-value="1"
                                       ng-checked="object.status == 1"
                                       ng-click="object.status = object.status == 1 ? 0 : 1"
                                       ng-model="object.status"/>
                                <span ng-class=""></span>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn relo-bg-green"
                                    ng-disabled="saving"
                                    ng-click="crudForm.$valid && saveFn();">
                                <em class="fa-solid  mr-sm {{ saving ? 'fa-spin fa-spinner' : 'fa-floppy-disk'}}"></em>
                                {{ 'SAVE_BTN_TEXT' | translate }}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
<!--            <div class="card-footer">-->
<!--                &lt;!&ndash;            <div class="pull-left">&ndash;&gt;-->
<!--                &lt;!&ndash;                <button type="button"&ndash;&gt;-->
<!--                &lt;!&ndash;                        class="btn btn-default btn-oval" ng-click="closeThisDialog(0)">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <em class="fa fa-long-arrow-left mr-sm"></em>&ndash;&gt;-->
<!--                &lt;!&ndash;                    {{'CANCEL_TEXT' | translate}}&ndash;&gt;-->
<!--                &lt;!&ndash;                </button>&ndash;&gt;-->
<!--                &lt;!&ndash;            </div>&ndash;&gt;-->
<!--                <div class="pull-right text-right">-->

<!--                    <button type="submit" class="btn relo-bg-green"-->
<!--                            ng-disabled="saving"-->
<!--                            ng-click="crudForm.$valid && saveFn();">-->
<!--                        <em class="fa-solid  mr-sm {{ saving ? 'fa-spin fa-spinner' : 'fa-floppy-disk'}}"></em>-->
<!--                        {{ 'SAVE_BTN_TEXT' | translate }}-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="clearfix"></div>-->
<!--            </div>-->

        </form>

    </div>
</div>
