<!-- sidebar-->
<ng-include src="'/gms/views/base/side-navbar.html'"></ng-include>

<section class="section-container"
         ng-class="{'section-container-collapse': !app.layout.isCollapsedNav,
                    'section-container-full': app.layout.isCollapsedNav}">
    <breadcrumbs></breadcrumbs>
    <div class="content-wrapper" ui-view="" autoscroll="false"
         ng-class="[app.viewAnimation, { noPadding : hasLeftBar || noPadding , 'overflow-disable' : app.layout.overflowDisable }]"></div>

</section>

<toaster-container toaster-options="toasterOptions"></toaster-container>
