<div class="custom-dialog-overflow scroll-append scroll-y overflow-x-disable text-dark-blue pd-l-20">
    <div ng-if="isLoading">
        <spinner-v2 type="spin"></spinner-v2>
    </div>
    <div class="mg-b-20">
        <div class="row mb">
            <span class="text-bold">{{'ADDRESSES_TEXT' | translate}}</span>
        </div>
        <div class="row relo-bg-bright-gray mb pd-10 flex"
             ng-repeat="address in addresses track by $index">
            <div class="w-100">
                <div class="text-bold">{{address.name | translate}}</div>
                <div class="">
                    {{address.address1}}, {{address.ward_name}}, {{address.district_name}},
                    {{address.province_name}}, {{address.country}}
                </div>
            </div>
            <div class="flex mr" ng-if="isEditable">
                <div class="flex-middle">
                    <button-edit-icon ng-click="editAddressFn( address )"></button-edit-icon>
                </div>
                <div class="flex-middle">
                    <button-delete-icon ng-click="deleteAddressFn( address.id )"></button-delete-icon>
                </div>
            </div>
        </div>

        <div ng-if="isEditable">
            <div class="flex clickable text-bright-blue" ng-click="createAddress(2)">
                <em class="fa fa-circle-plus mr-sm text-bright-blue txt-16"></em>
                {{ 'CREATE_ADDRESS_TEXT' | translate }}
            </div>
        </div>
    </div>
</div>
