<div class="card card-nobox" ng-controller="UserFormController">
    <form class="form-validate"
      validate-form=""
      role="form"
      name="userForm"
      data-parsley-validate=""
      ng-submit="saveFn()"
      ng-show="!page_loading"
      novalidate>
      <div class="panel panel-primary white-block height-80vh scroll-y">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <app-roles-selector ng-model="user.user_group_id"
                                        label="ROLE_TEXT"
                                        show-label="true"
                                        is-editable="true"
                                        is-required="true"
                                        tool-tip-text="{{ 'TOOLTIP_ROLE_TEXT' | translate }}"></app-roles-selector>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-sex-selector label="SEX_TEXT"
                                      is-editable="true"
                                      ng-model="user.sex"
                                      name="member_sex"></app-sex-selector>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user.firstname"
                                required-message="ENTER_FIRST_NAME_TEXT"
                                label="FIRST_NAME_TEXT"
                                show-label="true"></input-text>

                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-required="true"
                                is-text="true"
                                ng-model="user.lastname"
                                required-message="ENTER_LAST_NAME_TEXT"
                                label="LAST_NAME_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-text="true"
                                ng-model="user.jobtitle"
                                required-message="ENTER_JOB_TITLE_TEXT"
                                label="JOB_TITLE_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-telephone="true"
                                is-required="true"
                                ng-model="user.phonework"
                                required-message="ENTER_PHONE_WORK_TEXT"
                                label="PHONE_WORK_TEXT"
                                show-label="true"></input-text>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-telephone="true"
                                is-required="false"
                                ng-model="user.phonehome"
                                required-message=""
                                label="HOME_PHONE_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-telephone="true"
                                is-required="false"
                                ng-model="user.mobilehome"
                                required-message=""
                                label="HOME_MOBILE_TEXT"
                                show-label="true"></input-text>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-fax="true"
                                is-required="false"
                                ng-model="user.fax"
                                required-message=""
                                label="FAX_TEXT"
                                show-label="true"></input-text>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-fax="true"
                                is-required="false"
                                ng-model="user.private_fax"
                                required-message=""
                                label="PRIVATE_FAX_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-email="true"
                                is-required="true"
                                ng-model="user.workemail"
                                required-message="ENTER_WORK_EMAIL_TEXT"
                                label="WORK_EMAIL_TEXT"
                                show-label="true"></input-text>
                </div>
                <div class="col-sm-6">
                    <input-text is-editable="true"
                                is-email="true"
                                is-required="false"
                                ng-model="user.privateemail"
                                required-message="ENTER_WORK_EMAIL_TEXT"
                                invalid-message="INVALID_EMAIL_TEXT"
                                label="PRIVATE_EMAIL_TEXT"
                                show-label="true"></input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <app-spoken-languages-selector ng-model="user.spoken_languages"
                                                   is-editable="true"
                                                   is-required="false"
                                                   show-label="true"
                                                   label="SPOKEN_LANGUAGE_TEXT"></app-spoken-languages-selector>
                </div>
            </div>
        </div>

        </div>
        </form>

        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" ng-if="user.id" class="btn relo-bg-red mr-lg" ng-click="deleteFn(user.id)"
                            title="Delete">
                        <i class="fa fa-trash mr-sm" ng-disabled="saving"></i>
                        Delete
                    </button>
                    <button type="button" ng-if="user.id" class="btn relo-bg-bright-blue mr-lg"
                            ui-sref="app.constant.clone({ id : user.id })"
                            title="Clone" ng-disabled="saving">
                        <i class="fa fa-copy mr-sm"></i>
                        Clone
                    </button>
                    <button type="submit" class="btn relo-bg-green" title="Save" ng-disabled="saving"><i
                            class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-save'}} mr-sm"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
