<form class="form-validate pd-0 mg-0 text-dark-blue"
      validate-form=""
      ng-submit="saveFn($event)"
      novalidate>
    <div class="custom-dialog-overflow scroll-append scroll-y overflow-x-disable">
        <div class="row">
            <div class="col-sm-12">
                <input-text is-editable="isEditable"
                            is-text="true"
                            ng-model="user.id_number"
                            required-message="FIELD_IS_REQUIRED_TEXT"
                            label="ID_NUMBER_TEXT"
                            show-label="true"></input-text>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label class="label-text-form">
                        {{'ID_CERTIFICATE_FRONT_SIDE_TEXT' | translate}}
                        <asterik-red ng-if="isEditable" class=""></asterik-red>
                    </label>
                </div>

                <div class="mg-b-20">
                    <app-media-zone uuid="user.uuid"
                                    is-multiple="false"
                                    is-editable="isEditable"
                                    company-id="user.company_id"
                                    object-type="user_id_front"></app-media-zone>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label class="label-text-form">
                        {{'ID_CERTIFICATE_BACK_SIDE_TEXT' | translate}}
                        <asterik-red ng-if="isEditable" class=""></asterik-red>
                    </label>
                </div>

                <div class="mg-b-20">
                    <app-media-zone uuid="user.uuid"
                                    is-multiple="false"
                                    is-editable="isEditable"
                                    company-id="user.company_id"
                                    object-type="user_id_back"></app-media-zone>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <label class="label-text-form">
                        {{'BANK_ACCOUNTS_TEXT' | translate}} <asterik-red class=""></asterik-red>
                    </label>
                </div>

                <div class="mg-b-20">
                    <div ng-include="'/app/views/user/bank-acounts.html'"></div>
                </div>
            </div>
        </div>

        <div class="text-right mg-t-20">
            <button type="button" class="btn relo-bg-red mr-sm" title="Save" ng-disabled="saving" ng-if="isEditable && canSave && user.lvl == 1 && user.verification_status == 1" ng-click="rejectToLvl2()"><i
                    class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-close'}} mr-sm"></i>
                {{'REJECT_TO_LVL2_TEXT' | translate}}
            </button>
            <button type="button" class="btn relo-bg-green mr-sm" title="Save" ng-disabled="saving" ng-if="isEditable && canSave && user.lvl == 1" ng-click="upgradeToLvl2()"><i
                    class="fa {{ saving ? 'fa-spin fa-spinner' : 'fa-check'}} mr-sm"></i>
                {{'APPROVE_TO_LVL2_TEXT' | translate}}
            </button>
            <save-button-submit label="SAVE_BTN_TEXT"
                                ng-if="isEditable"
                                ng-disabled="saving"></save-button-submit>
        </div>
    </div>
</form>
